<p>
  Sie planen professionell einen Anlass und der Aspekt "Sicherheit" ist Ihnen nicht entgangen? Ihre Gäste werden es zu
  schätzen wissen!
</p>

<h2>Leistungsangebot</h2>

<ul>
  <li>Gesamtkonzepte &amp; Koordination der Sicherheitsaspekte (Brandschutz, Brandschutzkurse, Fluchtwege, Konzepte,
    Erste Hilfe, Zusammenarbeit mit Rettungskräften).
  </li>
  <li>Ansprechpartner für öffentliche Dienste wie Feuerpolizei, Feuerwehr, Polizei, Sanität etc.</li>
  <li>Überwachung &amp; Koordination vor Ort.</li>
  <li>Ihre Vorteile: Gefahren und Risiken erkennen und entsprechende Massnahmen ergreifen.</li>
</ul>
