body {
  font-family: sans-serif;
}

img {
  boder: 0;
}

img.logo {
  zoom: 50%;
}

#mobile-header {
  margin-top: 40px;
}

.hide-on-print {
  display: none !important;
}

article a {
  text-decoration: none;
  color: black;
}

.reveal-modal {
  display: none;
}

.panel img {
  display: none;
}

p.title {
  font-weight: bold;
  font-size: 18px;
}

a[data-reveal-id] img {
  max-width: 100%;
}

form {
  fieldset {
    margin-top: 25px;
    border: 0;
    padding: 0;
    margin: 0;
  }

  legend {
    display: none;
  }

  label {
    display: block;
  }

  input, select {
    height: 30px;
  }

  input, textarea, select {
    width: 80%;
    margin-bottom: 15px;
    border: 1px solid #888;
  }

  small.error {
    display: none;
  }

  label[for=group_1690754908_1], button {
    display: none;
  }
}
