<% wrap_layout :layout do %>
    <div class="row">
      <div class="large-9 columns" role="content">
        <article>
          <%= yield %>
        </article>
      </div>
      <aside class="large-3 columns">
        <div>
          <h5>MPS Müller Projects &amp; Services GmbH</h5>

          <p>
            Wir sind ein Unternehmen, das sich seit 2002 auf Notfallmanagement, Arbeitssicherheit, Brandschutz
            und Schulungen spezialisiert hat. Erfahren Sie mehr <%= link_to 'über uns', '/kontakt.html' %>, unsere
            <%= link_to 'Partner', '/partner.html' %> und <%= link_to 'Referenzen', '/referenzen.html' %>.
          </p>
        </div>
        <% if data.page.title != 'Kurse' %>
            <div>
              <h5>Kurse</h5>

              <p>
                MPS ist Anbieter offizieller SUVA Kurse.
              </p>
              <% link_to '/kurse.html' do %>
                  <div class="panel radius callout" align="center">
                    <strong>Kursangebot</strong>
                  </div>
              <% end %>
            </div>
        <% end %>
        <% if data.page.title != 'Kontakt' && data.page.title != 'Kurse' %>
            <div>
              <h5>Kontakt</h5>

              <p>
                Kontaktieren Sie uns für eine persönliche Beratung.
              </p>
              <% link_to '/kontakt.html' do %>
                  <div class="panel radius callout" align="center">
                    <strong>Kontaktieren Sie uns</strong>
                  </div>
              <% end %>
            </div>
        <% end %>
        <div>
          <h5>Downloads</h5>

          <p>
            Publizierte Fachartikel, Richtlinien und die Firmenpräsentation können Sie von unserem Download-Bereich
            herunterladen.
          </p>
          <% link_to '/download.html' do %>
              <div class="panel radius callout" align="center">
                <strong>Zum Download-Bereich</strong>
              </div>
          <% end %>
        </div>
      </aside>
    </div>
<% end %>

