<p>Arbeitssicherheit für Industrie-, Gewerbe- und Dienstleistungsbetriebe.</p>

<h3>Lerninhalt</h3>

<p>
  Verantwortung wahrnehmen, Gefahrenerkennung, Gesetzliche Richtlinien &amp; Auflagen, Arbeitssicherheitssystem,
  Motivationsfaktoren.
</p>

<h3>Zielgruppe</h3>

<p>Führungskräfte aller Stufen die Ihre Führungskompetenzen im Bereich Arbeitssicherheit ausbauen möchten.</p>

<h3>Dauer / Kosten</h3>

<p>1 Tag / 390.- CHF pro Person, inklusive Kursunterlagen und Teilnahmebestätigung.</p>

<h3>Bestätigte Daten</h3>

<p>Zurzeit sind keine Daten ausgeschrieben, wie wäre es bei Ihnen in der eigenen Firma?</p>

<p>Sie können sich auf die Warteliste (siehe <%= link_to 'Kurs jetzt buchen!', '/kurse/buchen.html' %>) eintragen lassen, dann erhalten Sie bei genügend Eintragungen Bescheid, dass wieder ein Arbeitssicherheit als Führungskompetenzkurs stattfindet. Das Datum kann dann von den eingetragenen Personen auf der Warteliste mitbestimmt werden.</p>

<h3>Spezielles</h3>

<p>Kurssprache Mundart (Deutsch).</p>

<p>Der Kurs kann auch in Ihrem Betrieb stattfinden, verlangen Sie eine Offerte.</p>

<h3>Download</h3>

<ul>
  <li>
    <%= link_to 'Lektionsplan mit Arbeitspsychologen', '/downloads/Kursprogramm-AS-MPS-2013-FK-A.pdf' %>
  </li>
  <li>
    <%= link_to 'Lektionsplan mit Notfallmanagement', '/downloads/Kursprogramm-AS-MPS-2013-FK-N.pdf' %>
  </li>
</ul>
