<p>Arbeitssicherheit / Gesundheitsschutz &amp; Brandschutz für Industrie-, Gewerbe- und Dienstleistungsbetriebe.</p>

<h3>Lerninhalt</h3>

<p>
  Gesetzliche Richtlinien &amp; Auflagen, Arbeitssicherheitssystem, Nutzen, erste Schritte, Motivationsfaktoren mit
  Arbeitspsychologen.
</p>

<h3>Zielgruppe</h3>

<p>Teamleiter, Vorgesetzte, GL, SIBE, Mitarbeitende in neuer Funktion</p>

<h3>Dauer / Kosten</h3>

<p>2 Tage / 790.- CHF pro Person, inklusive Kursunterlagen, Teilnahmebestätigung und fakultative Abschlussarbeit.</p>

<p>Möglichkeit für zusätzliches Abendreferat Brandschutz am 1. Tag.</p>

<h3>Bestätigte Daten</h3>

<h4>2014</h4>

<ul>
  <!--li><strike>MPS d01.14 / 27. und 28. Februar 2014, Dietikon / ZH</strike> <span class="sold">Ausgebucht</span></li-->
  <li>MPS d02.14 / 22. und 23. Mai 2014, Dietikon / ZH</li>
  <li>MPS d03.14 / 11. und 12. September 2014, Dietikon / ZH</li>
  <li>MPS d04.14 / 27. und 28. November 2014, , Dietikon / ZH</li>
</ul>

<h4>2015</h4>

<ul>
  <li>MPS d01.15 / 26. und 27. Februar 2015, Dietikon / ZH</li>
  <li>MPS d02.15 / 07. und 08. Mai 2015, Dietikon / ZH</li>
  <li>MPS d03.15 / 03. und 04. September 2015, Dietikon / ZH</li>
  <li>MPS d04.15 / 26. und 27. November 2015, , Dietikon / ZH</li>
</ul>

<h3>Spezielles</h3>

<p>Dieser Kurs ist offiziell anerkannt von der SUVA. Kurssprache Mundart (Deutsch).</p>

<p>Der Kurs kann auch in Ihrem Betrieb stattfinden, verlangen Sie eine Offerte.</p>

<h3>Download</h3>

<ul>
  <li>
    <%= link_to 'Lektionsplan', '/downloads/Kursprogramm-AS-SUVA-MPS-mit-BS-2014.pdf' %>
  </li>
  <li>
    <%= link_to 'Kursbeschreibung anerkannter SUVA Kurs von MPS', '/downloads/Schulungsnetzwerk-Praevention-MPS.pdf' %>
  </li>
  <li>
    <%= link_to 'Informationsdokumente Gefahrenermittlung für den Kurs Grundwissen Arbeissicherheit MPS', '/downloads/Infos-Gefahrenermittlung-im-Betrieb-Kurs-Grundwissen-Arbeitssicherheit-MPS.pdf' %>
  </li>
</ul>
