<p>Brandschutzreferat, SUVA anerkannt.</p>

<h3>Lerninhalt</h3>

<p>
  Gesetzliche Grundlage, Motivation, Notfallorganisation, Alarmieren, das Wesen des Feuers, Verhalten und
  Gefahrenerkennung. Praktische Übungen im Umgang mit der Brandmeldeanlage (BMA).
</p>

<p>Dargestellt mit Ernstfall-Fotos und Filmen! Unterlagen mit Handout für jeden Teilnehmer.</p>

<h3>Zielgruppe</h3>

<p>Firmen, Private Personen, Vereine, Verwaltungen</p>

<h3>Dauer / Kosten</h3>

<p>3h / 190.- CHF pro Person, inklusive Kursunterlagen und Teilnahmebestätigung.</p>

<h3>Bestätigte Daten</h3>

<h4>2014</h4>

<ul>
  <li>MPS d01.14A / 27. Februar 2014, Dietikon / ZH</li>
  <li>MPS d03.14A / 11. September 2014, Dietikon / ZH</li>
</ul>

<p>Individuelle Daten auf Anfrage möglich.</p>

<h3>Spezielles</h3>

<p>
  Jeweils auch im Anschluss am Abend vom 1. Tag von dem Kurs Grundwissen Arbeitssicherheit, zusätzlich und individuell
  zu buchen. Kurssprache Mundart (Deutsch).
</p>

<p>Der Kurs kann auch in Ihrem Betrieb stattfinden, verlangen Sie eine Offerte.</p>
