<p>Erfahrungsaustausch (ERFA) für Sicherheitsbeauftragte und Führungskräfte</p>

<h3>Tagungsthema</h3>
<dl>
  <dt>ERFA 1</dr>
  <dd>Sicherheit in den Köpfen der Führung verankern, Sicherheit als Effizienzsteigerung? Argumentarium Sicherheit.</dd>
</dl>

<h3>Unsere Motivation</h3>
<p>Sicherheit leben, anstellen von Sicherheit reden.</p>

<h3>Lerninhalt</h3>
<p>
  Gezielt und systematisch die Durchsetzungsfähigkeiten im Bereich Sicherheit steigern. Wirkung der eigenen Stabsstelle schrittweise erhöhen und sich erfolgreich positionieren. Von unseren Praxiserfahrungen und dem Austausch mit verschiedenen Fachpersonen und Betrieben profitieren, eigene Bespiele und Fragen werden wenn immer möglich behandelt und gemeinsam reflektiert.
</p>

<h3>Arbeitsform</h3>
<p>Es wird im Plenum, wie auch in kleinen Arbeitsgruppen gearbeitet.</p>

<h3>Zielgruppe</h3>
<p>Führungskräfte aller Stufen die Ihre Führungskompetenzen im Bereich Arbeitssicherheit ausbauen möchten.</p>

<h3>Dauer / Kosten</h3>
<p>1/2 Tag / 350.- CHF pro Person.</p>

<h3>Bestätigte Daten</h3>
<h4>2014</h4>
<ul>
  <li>ERFA 1: 23. September 2014, 9 - 12 Uhr. Anschliessend Mittagessen.</li>
</ul>

<h3>Spezielles</h3>
<p>Pro ERFA-Treffen sind 30 Teilnehmende möglich. Kurssprache Mundart (Deutsch). <%= link_to 'Ein ERFA-Anlass kann auch in Ihrem Betrieb stattfinden, verlangen Sie eine Offerte.', '/kontakt.html' %></p>

<h3>Ausführungen</h3>
<p>In den letzten Jahren haben wir unzählige Lehrgänge für SIBEs und Führungskräfte durchgeführt und viele Unternehmen in der Ausgestaltung und Implementierung ihrer massgeschneiderten Sicherheits- und Notfallkonzepte begleiten dürfen. Es hat sich auf beiden Seiten viel Erfahrung angesammelt und gepaart mit etlichen Anfragen zu weiterführenden Veranstaltungen in jüngster Zeit, haben wir uns entschlossen dies in Form eines ERFA-Austausch anzubieten. Diese Plattform soll allen Interessieren die Möglichkeit bieten sich Themenspezifisch mit gleichgesinnten auszutauschen und punktuell den einen oder anderen Aspekt des breiten Themas Sicherheit im Unternehmen weitere zu vertiefen.</p

<p>Wir freuen uns auf anregende Gespräche und Impulse und wollen das einen oder andere heisse Thema aus verschiedenen Blickwinkeln gemeinsam beleuchten.</p>

<p>Um den Fokus zu öffnen, die Ganzheitliche Sicht zu gewährleisten und das Risiko der „Fachblindheit“ aktiv zu managen, laden wir auch fachfremde Experten aus dem Bereich Unternehmensentwicklung und Unternehmensführung zu den ERFA-Anlässen ein. Nur neue Fragen geben neue Antworten.</p>

<p>Unser Partner für diesen Anlass:</p>
<%= image_tag 'partner/weixelbaumer-partner.png' %>
