---
layout: 'default'
title: 'Allgemeinen Geschäftsbedingungen des Kurswesens'
description: 'Die allgemeinen Geschäftsbedingungen des MPS Müller Projects & Services GmbH Kurswesens.'
---

<h1>Allgemeinen Geschäftsbedingungen des Kurswesens</h1>

<p>
  Die allgemeinen Geschäftsbedingungen des MPS Müller Projects & Services GmbH Kurswesens
</p>

<h2>An- & Abmeldung</h2>

<p>
  Nach Eingang der Anmeldung erhält die angemeldete Person eine Anmeldebestätigung. Die Anmeldungen werden in der
  Reihefolge der Eingänge berücksichtigt. Über eine allfällige Annullierung oder Verschiebung eines Kurses werden die
  Betroffenen spätestens 2 Wochen vor Kursbeginn informiert, respektive erhalten die Einladung mit detaillierten
  Angaben. Es besteht kein Anspruch auf Entschädigung. Ist die maximale Teilnehmeranzahl für einen Kurs bereits
  erreicht, so erhalten die angemeldeten Personen eine schriftliche Nachricht, sich für einen der nächsten Kurse neu
  anzumelden.
</p>
<p>
  Abmeldungen durch die Kursteilnehmenden sind MPS Müller Projects & Services GmbH frühzeitig bekannt zu geben. Bei
  Abmeldungen bis 6 Wochen vor Kursbeginn haben keine Kostenfolgen. Bei späteren Abmeldungen werden die vollen
  Kurskosten in Rechnung gestellt. Ersatzteilnehmende werden akzeptiert. Kann eine Veranstaltung infolge höherer Gewalt
  (auch Unfall, Krankheit der Kursleitung) nicht stattfinden, können gegenüber MPS keine Haftungsansprüche geltend
  gemacht werden. In diesen Fällen erfolgt sofortige Benachrichtigung. Kein Anspruch auf Rückerstattung von verrechneten
  Kurskosten besteht, wenn eine Teilnehmerin oder ein Teilnehmer den Kurs von sich aus abbricht.
</p>

<h2>Teilnehmerzahl</h2>

<p>
  Die Zahl der Teilnehmenden pro Kurs ist begrenzt. Damit der Kurs durchgeführt wird, ist eine Mindestteilnehmerzahl
  erforderlich.
</p>

<h2>Teilnahmebestätigung</h2>

<p>
  Die Teilnehmenden erhalten von der Kursleitung am letzten Kurstag eine Teilnahmebestätigung, sofern sie mindestens 80
  % aller Lektionen des Kurses besucht haben. In Zweifelsfällen entscheidet die Kursleitung.
</p>

<h2>Kosten</h2>

<p>
  Die Kurskosten werden inkl. Unterlagen sowie Pausenverpflegungen und Mittagessen angegeben. Übernachtungskosten,
  Abendessen sowie weiterer Konsum sind von den einzelnen Teilnehmerinnen oder Teilnehmern selbst zu tragen. Die
  Rechnungsstellung für die Kurskosten erfolgt nach dem Eingang der Anmeldungen im Normalfall 6 Wochen vor Kursbeginn,
  bei später eingelangten Anmeldungen am Anmeldetag. Die Kurskosten sind spätestens 5 Tage vor Kursbeginn fällig und
  müssen auf unserem Bankkonto verbucht sein.
</p>

<h2>Änderungen</h2>

<p>
  Änderungen bezüglich Kursgebühren, Kursinhalte, Durchführungsdaten und Durchführungsorte bleiben vorbehalten.
</p>

<h2>Copyright</h2>

<p>
  Informationen und Unterlagen aus den Kursen und Lehrgängen dürfen unter Quellenangabe Firmenintern weiterverwendet
  werden. Gemachte Fotos bleiben Eigentum (Copyright) von MPS und dürfen von MPS frei verwendet werden.
</p>

<h2>Persönliche Daten</h2>

<p>
  Die persönlichen Angaben der Kursteilnehmenden werden nur für interne Zwecke elektronisch gespeichert.
</p>

