---
layout: 'default'
title: 'MPS Müller Projects & Services GmbH Bestätigung Kursbuchung'
description: 'Bestätigung der Buchung eines MPS Müller Projects & Services GmbH Kurses.'
sitemap: 'Bestätigung der Buchung eines MPS Müller Projects & Services GmbH Kurses.'
---
<h1>Bestätigung der Kursbuchung</h1>
<p>Vielen Dank für die Buchung eines MPS Müller Projects & Services GmbH Kurses. Sie erhalten eine automatische E-Mail mit den Details ihrer Buchung als Bestätigung und wir werden uns in Kürze bei Ihnen persönlich melden.</p>
<p>Bei Fragen können Sie uns jederzeit <%= link_to 'kontaktieren', '/kontakt.html' %></p>
