---
layout: 'default'
title: 'MPS Müller Projects & Services GmbH Kurs buchen'
description: 'Formular um einen MPS Müller Projects & Services GmbH Kurs zu buchen.'
sitemap: 'Formular um einen MPS Müller Projects & Services GmbH Kurs zu buchen.'
---
<h1>Kursbuchung</h1>
<p>Mit Hilfe des nachfolgenden Formulars können Sie Ihre Teilnahme an dem ausgeschriebenen Kurs übermitteln. Bitte stellen Sie sicher, dass Sie vorher die <a href="http://www.muellerps.ch/kurse/kurseagb.html">allgemeinen Geschäftsbedingungen des MPS Kurswesens</a> akzeptiert haben.</p>
<p><i>Ihre Daten werden vertraulich behandelt und nicht weitergegeben.</i></p>
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) { window.location='/kurse/bestaetigung'; }"></iframe>
<form action="https://docs.google.com/a/flinkfinger.com/forms/d/1cu-6wErOuMUiN6Eb-JSrbZH63G5pCaAUfGQ7Zorg2SY/formResponse?embedded=true" method="POST" target="hidden_iframe" onsubmit="submitted=true;" data-abide>
  <fieldset>
    <legend>Ihr Kurs</legend>
    <div class="row">
      <div class="large-12 columns">
        <label for="entry_1787783706">
          Ihr Kurs und der angestrebter Termin:
          <span>*</span>
        </label>
        <select name="entry.1787783706" id="entry_1787783706" required>
          <option value=""></option>
          <option value="Arbeitssicherheit als Führungskompetenz WARTELISTE">Arbeitssicherheit als Führungskompetenz WARTELISTE</option>
          <option value="ERFA 1 / 23.September 2015 08:00 - 12:00, Region Zürich">ERFA 1 / 23.September 2015 08:00 - 12:00, Region Zürich</option>

          <option value="Grundwissen Arbeitssicherheit am 22. und 23. Mai 2014, Dietikon / ZH">Grundwissen Arbeitssicherheit am 22. und 23. Mai 2014, Dietikon / ZH</option>

          <option value="Grundwissen Arbeitssicherheit am 11. und 12. September 2014, Dietikon / ZH">Grundwissen Arbeitssicherheit am 11. und 12. September 2014, Dietikon / ZH</option>
          <option value="Grundwissen Arbeitssicherheit, inkl. Brandschutzreferat am 11. und 12. September 2014, Dietikon / ZH">Grundwissen Arbeitssicherheit, inkl. Brandschutzreferat am 11. und 12. September 2014, Dietikon / ZH</option>
          <option value="Brandschutzreferat am 11. September 2014, Dietikon / ZH">Brandschutzreferat am 11. September 2014, Dietikon / ZH</option>

          <option value="Grundwissen Arbeitssicherheit am 27. und 28. November 2014, Dietikon / ZH">Grundwissen Arbeitssicherheit am 27. und 28. November 2014, Dietikon / ZH</option>

          <option value="Grundwissen Arbeitssicherheit am 26. und 27. Februar 2015, Dietikon / ZH">Grundwissen Arbeitssicherheit am 26. und 27. Februar 2015, Dietikon / ZH</option>
          <option value="Grundwissen Arbeitssicherheit, inkl. Brandschutzreferat am 26. und 27. Februar 2015, Dietikon / ZH">Grundwissen Arbeitssicherheit, inkl. Brandschutzreferat am 26. und 27. Februar 2015, Dietikon / ZH</option>
          <option value="Brandschutzreferat am 26. Februar 2015, Dietikon / ZH">Brandschutzreferat am 26. Februar 2015, Dietikon / ZH</option>

          <option value="Grundwissen Arbeitssicherheit am 07. und 08. Mai 2015, Dietikon / ZH">Grundwissen Arbeitssicherheit am 07. und 08. Mai 2015, Dietikon / ZH</option>
          
          <option value="Grundwissen Arbeitssicherheit am 03. und 04. September 2015, Dietikon / ZH">Grundwissen Arbeitssicherheit am 03. und 04. September 2015, Dietikon / ZH</option>
          <option value="Grundwissen Arbeitssicherheit, inkl. Brandschutzreferat am 03. und 04. September 2015, Dietikon / ZH">Grundwissen Arbeitssicherheit, inkl. Brandschutzreferat am 03. und 04. September 2015, Dietikon / ZH</option>
          <option value="Brandschutzreferat am 03. September 2015, Dietikon / ZH">Brandschutzreferat am 03. September 2015, Dietikon / ZH</option>
          
          <option value="Grundwissen Arbeitssicherheit am 26. und 27. November 2015, Dietikon / ZH">Grundwissen Arbeitssicherheit am 26. und 27. November 2015, Dietikon / ZH</option>
        </select>
        <small class="error">Sie müssen einen Kurs auswählen.</small>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Ihre Kontaktangaben</legend>
    <div class="row">
      <div class="large-12 columns">
        <label for="entry_2147150294">
          Firma
          <span>*</span>
        </label>
        <input type="text" name="entry.2147150294" value="" id="entry_2147150294" required>
        <small class="error">Der Firmenname wird benötigt.</small>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label for="entry_363625124">
          Name
          <span>*</span>
        </label>
        <input type="text" name="entry.363625124" value="" id="entry_363625124" required>
        <small class="error">Ihr Name wird benötigt.</small>
      </div>
      <div class="large-6 columns">
        <label for="entry_424584891">
          Vorname
          <span>*</span>
        </label>
        <input type="text" name="entry.424584891" value="" id="entry_424584891" required>
        <small class="error">Ihr Vorname wird benötigt.</small>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label for="entry_844881684">
          Geburtsdatum
          <span>*</span>
        </label>
        <input type="text" name="entry.844881684" value="" id="entry_844881684" required pattern="(0?[1-9]|[12][0-9]|3[01])[- \/.](0?[1-9]|1[012])[- \/.](19|20)\d\d">
        <small class="error">Ihr Geburtsdatum wird benötigt (DD.MM.JJJJ).</small>
      </div>
      <div class="large-6 columns">
        <label for="entry_885702834">
          Funktion
          <span>*</span>
        </label>
        <input type="text" name="entry.885702834" value="" id="entry_885702834" required>
        <small class="error">Ihre Funktion wird benötigt.</small>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label for="entry_25953684">Strasse / Nr.
          <span>*</span>
        </label>
        <input type="text" name="entry.25953684" value="" id="entry_25953684" required>
        <small class="error">Ihre Strasse wird benötigt.</small>
      </div>
      <div class="large-6 columns">
        <label for="entry_1675169338">
          Postfach
        </label>
        <input type="text" name="entry.1675169338" value="" id="entry_1675169338">
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label for="entry_2075280728">
          PLZ
          <span>*</span>
        </label>
        <input type="text" name="entry.2075280728" value="" id="entry_2075280728" required pattern="number">
        <small class="error">Ihre Postleitzahl wird benötigt.</small>
      </div>
      <div class="large-6 columns">
        <label for="entry_412699966">
          Ort
          <span>*</span>
        </label>
        <input type="text" name="entry.412699966" value="" id="entry_412699966" required>
        <small class="error">Ihr Ort wird benötigt.</small>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <label for="entry_647173286">
          Telefon
          <span>*</span>
        </label>
        <input type="tel" name="entry.647173286" value="" id="entry_647173286" required>
        <small class="error">Ihr Telefon wird benötigt.</small>
      </div>
      <div class="large-6 columns">
        <label for="entry_777428984">
          Mobile
        </label>
        <input type="tel" name="entry.777428984" value="" id="entry_777428984">
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label for="entry_1370329041">
          E-Mail
          <span>*</span>
        </label>
        <input type="email" name="entry.1370329041" value="" id="entry_1370329041" required>
        <small class="error">Ihre Email wird benötigt.</small>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Ihre Anmeldung</legend>
    <div class="row">
      <div class="large-12 columns">
        <label for="entry_571116737">Anmerkung</label>
        <textarea name="entry.571116737" rows="8" cols="20" id="entry_571116737"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <label for="group_1690754908_1">
          <input type="checkbox" name="entry.1690754908" value="AGB" id="group_1690754908_1" required>
          Ich habe die <a href="http://www.muellerps.ch/kurse/kurseagb.html" target="agb">AGB</a> gelesen und bin damit einverstanden
          <span>*</span>
          </input>
          <small class="error">Sie müssen die AGB akzeptieren.</small>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <button type="submit">Am Kurs anmelden</button>
      </div>
    </div>
  </form>
