<p>
  Verschiedene Mitarbeiter (inkl. freie Mitarbeiter) dozieren an diversen höheren Fachschulen und Kaderschulen in
  den Fachbereichen:
</p>

<ul>
  <li>Arbeitssicherheit</li>
  <li>Brandschutz</li>
  <li>Angewandtes Projektmanagement</li>
  <li>Arbeitsmethodik / -systematik</li>
  <li>Prozesse & Arbeitssysteme</li>
</ul>
