<p>
  MPS führt offiziell anerkannte Arbeitssicherheitsschulungen für die SUVA durch!
</p>

<p>
  Die SUVA steht im Bereich Arbeitssicherheit für Kontinuität und Qualität. Die Firma MPS führt unter dem
  Qualitätslabel dieser renommierten Versicherung offiziell Schulungen im Bereich Arbeitssicherheit und
  Brandschutz durch, wie z.B. SIBE Kurse, Brandschutzkurse, Arbeitssichhrheitskurse
</p>
