---
layout: 'default'
title: 'Gesetzliche Auflagen'
description: 'Gesetzliche Auflagen: Verordnung über die Verhütung von Unfällen und Berufskrankheiten, VUV.'
---

<h1>Gesetzliche Auflagen</h1>

<h2>Verordnung über die Verhütung von Unfällen und Berufskrankheiten, VUV</h2>

<h3>VUV, Art. 6 Information und Anleitung der Arbeitnehmer</h3>

<ol>
  <li>
    Der Arbeitgeber sorgt dafür, dass alle in seinem Betrieb beschäftigten Arbeitnehmer,
    einschliesslich der dort tätigen Arbeitnehmer eines anderen Betriebes, über die bei ihren
    Tätigkeiten auftretenden Gefahren informiert und über die Massnahmen zu deren Verhütung
    angeleitet werden. Diese Information und Anleitung haben im Zeitpunkt des Stellenantritts und
    bei jeder wesentlichen Änderung der Arbeitsbedingungen zu erfolgen und sind nötigenfalls zu
    wiederholen.
  </li>
  <li>
    Die Arbeitnehmer sind über die Aufgaben und die Funktion der in ihrem Betrieb tätigen
    Spezialisten der Arbeitssicherheit zu informieren.
  </li>
  <li>
    Der Arbeitgeber sorgt dafür, dass die Arbeitnehmer die Massnahmen der Arbeitssicherheit
    einhalten.
  </li>
  <li>
    Die Information und die Anleitung müssen während der Arbeitszeit erfolgen und dürfen nicht zu
    Lasten der Arbeitnehmer gehen.
  </li>
</ol>

<h3>VUV, Art. 7 Übertragung von Aufgaben an Arbeitnehmer</h3>

<ol>
  <li>
    Hat der Arbeitgeber einen Arbeitnehmer mit bestimmten Aufgaben der Arbeitssicherheit
    betraut, so muss er ihn in zweckmässiger Weise aus- und weiterbilden und ihm klare Weisungen
    und Kompetenzen erteilen. Die für die Aus- oder Weiterbildung benötigte Zeit gilt in der Regel
    als Arbeitszeit.
  </li>
  <li>
    Die Übertragung solcher Aufgaben an einen Arbeitnehmer entbindet den Arbeitgeber nicht von
    seinen Verpflichtungen für die Arbeitssicherheit.
  </li>
</ol>

<h3>VUV, Art. 8 Vorkehren bei Arbeiten mit besonderen Gefahren</h3>

<ol>
  <li>
    Der Arbeitgeber darf Arbeiten mit besonderen Gefahren nur Arbeitnehmern übertragen, die dafür
    entsprechend ausgebildet sind. Wird eine gefährliche Arbeit von einem Arbeitnehmer allein ausgeführt,
    so muss ihn der Arbeitgeber überwachen lassen
  </li>
</ol>

<h3>VUV, Art. 40 Brandbekämpfung</h3>

<ol>
  <li>
    Alarmanlagen und Feuerlöscheinrichtungen müssen leicht zugänglich, gut sichtbar als solche
    gekennzeichnet und betriebsbereit sein.
  </li>
  <li>
    Die Arbeitnehmer sind in angemessenen Zeitabständen, in der Regel während der Arbeitszeit,
    über das Verhalten bei Bränden anzuleiten.
  </li>
</ol>
