<p>
  Eine wichtige Grundlage für das Vorgehen ist eine saubere und detaillierte Gefährdungsanalyse, anhand derer ein
  Katalog (Gefährdungsportfoilio) mit einer ersten Beurteilung zusammengestellt wird.
</p>

<div class="row panel">
  <div class="large-3 columns">
    <%= image_tag('checklist.png') %>
  </div>
  <div class="large-9 columns">
    <ul>
      <li>Kennen Sie die Gefährdungen in Ihrem Betrieb und sind Sie sich deren Risiken bewusst?</li>
      <li>Setzen Sie die geeigneten Massnahmen ein, um das Unfallrisiko zu reduzieren?</li>
    </ul>
  </div>
</div>

<p>
  Auf dieser Grundlage ist es in Folge möglich, z.B. mit Checklisten die Gefährdungen und die getroffenen Massnahmen zu
  überprüfen und, wenn nötig, zu ergänzen.
</p>

<p>
  Bereiche ohne gültige Regelwerke sind mittels einer Risikoanalyse neu zu beurteilen,damit auch hier die geeigneten
  Massnahmen ergriffen werden können.
</p>

