<p>
  Sicherheitsaudits sind eine Kernkompetenz von MPS Müller Projects & Services GmbH, denn hier könnte Sie Ihr
  ausgeprägtes Betriebswissen unter Umständen stark in die Irre führen. Neutralität, Fachwissen und Erfahrung ist
  wichtig, um Ihnen ein klares Bild der Situation zu verschaffen.
</p>

<div class="row panel">
  <div class="large-3 columns">
    <%= image_tag('checklist.png', alt: 'Checkliste Gefährdungsermittlung & Risikobeurteilung') %>
  </div>
  <div class="large-9 columns">
    <ul>
      <li>Wann haben Sie Ihren Betrieb das letzte Mal systematisch auf Arbeitssicherheit überprüft?</li>
      <li>Kennen Sie Ihre Stärken und haben Sie für die Defizite Massnahmen ergriffen?</li>
      <li>Realisieren Sie Ihre Massnahmen im Bereich Arbeitssicherheit systematisch und gezielt, damit Sie den optimalen Nutzen
          erlagen können?</li>
    </ul>
  </div>
</div>

<p>
  Das Resultat eines Sicherheitsrundganges bekommen Sie in Form eines Berichtes, einer Besprechung und natürlich eines
  Massnahmenkataloges, den Sie in Ihr System integrieren können.
</p>
