---
layout: 'default'
title: 'Arbeitssicherheit'
description: 'MPS Müller Projects & Services GmbH zählt Ihre Sicherheit am Arbeitsplatz zu den eigenen Kernkompetenzen. Hier werden alle wesentlichen Aspekte zu diesem Thema eingehend beleuchtet und Ihnen die Vorteile der Beratung durch MPS dargelegt.'
classes:
  -
    name: "Sicherheitsaudits & Massnahmenplanung"
    partial: "gefaehrdungsermittlung-und-risikobeurteilung"
  -
    name: "Gefährdungsermittlung & Risikobeurteilung"
    partial: "gefaehrdungsermittlung-und-risikobeurteilung"
---

<h1>Arbeitssicherheit</h1>

<p>
  MPS Müller Projects & Services GmbH ist Ihr kompetenter Partner für den Bereich Arbeitssicherheit. Gerne erläutern
  wir Ihnen individuell, was für Ihren Betrieb das Beste wäre. Mit wenig Aufwand sind Ihre grössten Risiken im Bereich
  Arbeitssicherheit zu definieren und in den Griff zu bekommen.
</p>

<div class="row panel">
  <div class="large-3 columns">
    <%= image_tag('checklist.png') %>
  </div>
  <div class="large-9 columns">
    <ul>
      <li>Kennen Sie die Pflichten der Arbeitssicherheit für Ihren Betrieb?</li>
      <li>Ist Ihnen bewusst, dass ein Ausfalltag eines Mitarbeitenden bis zu 1000.- CHF kostet?</li>
      <li>Sind Sie sicher, dass Sie das nächste Behördenaudit ohne Sanktionen bestehen werden?</li>
      <li>Erfüllen Sie die Beizugspflicht der Spezialisten der Arbeitssicherheit für besondere Gefahren?</li>
    </ul>
  </div>
</div>

<h2>Ihre Vorteile</h2>

<ul>
  <li>Sie wissen, wo Ihre Risiken liegen und können entsprechende Massnahmen planen.</li>
  <li>Umsetzung der EKAS Richtlinie 6508, Beizug von Arbeitssicherheits-Spezialisten</li>
  <li>Sicherheitsaudits, Massnahmenplanung und periodische Kontrollen.</li>
  <li>Gefährdungsermittlungen, Gefährdungsportfolios und Risikobeurteilungen</li>
  <li>Ausbildung Ihres Sicherheitsbeauftragten und Ihrer Mitarbeitenden</li>
  <li>Begleitung von Behördenaudits: Arbeitsinpektorat, Feuerpolizei, SUVA</li>
  <li>Einführung von Sicherheitskonzepten nach EKAS oder individuell</li>
</ul>

<p>
  <%= image_tag('arbeitssicherheit.png') %>
</p>

<h2>Wer muss ein Arbeitssicherheitssystem umsetzen?</h2>

<p>
  Die Bestimmungen der Verordnung über die Verhütung von Unfällen und Berufskrankheiten (VUV) gelten grundsätzlich
  für sämtliche Betriebe, die in der Schweiz Arbeitnehmende beschäftigen. Dies gilt auch für die Bestimmungen über
  den Beizug von Arbeitsärzten und anderen Spezialisten der Arbeitssicherhezit. Die Betriebe müssen Spezialisten
  beiziehen, wenn dies zum Schutz der Gesundheit der Arbeitnehmenden und für ihre Sicherheit erforderlich ist.
  Diese Richtlinie der EKAS 6508 konkretisiert die Beizugspflicht, sie verändert den Geltungsbereich der VUV
  nicht.
</p>

<h2>Spezielle Dienstleistungen</h2>

<div class="section-container accordion" data-section="accordion">
  <% current_page.data.classes.each do |clazz| %>
      <section>
        <p class="title" data-section-title>
          <%= link_to clazz.name, "##{ clazz.partial }"%>
        </p>
        <div class="content" data-section-content>
          <%= partial "arbeitssicherheit/#{ clazz.partial }" %>
        </div>
      </section>
  <% end %>
</div>
