---
layout: 'default'
title: 'Gesetzliche Auflagen'
keywords: 'Auflagen, VUV'
description: 'Verordnung über die Verhütung von Unfällen und Berufskrankheiten'
sitemap: 'Gesetzliche Auflagen: Verordnung über die Verhütung von Unfällen und Berufskrankheiten, VUV.'
---

<h2>Gesetzliche Auflagen</h2>

<h3>ArG: Bundesgesetz über die Arbeit in Industrie, Gewerbe und Handel (Art.&nbsp;6&nbsp;Abs.&nbsp;1) </h3>
<h4>Pflichten der Arbeitgeber und Arbeitnehmer</h4>

<ol>
  <li>
    Der Arbeitgeber ist verpflichtet, zum Schutze der Gesundheit der Arbeitnehmer alle
    Massnahmen zu treffen, die nach der Erfahrung notwendig, nach dem Stand der
    Technik anwendbar und den Verhältnissen des Betriebes angemessen sind. Er hat im
    Weiteren die erforderlichen Massnahmen zum Schutze der persönlichen Integrität der
    Arbeitnehmer vorzusehen.
  </li>
</ol>

<h3>UVG: Bundesgesetz über die Unfallversicherung (Art.&nbsp;82&nbsp;Abs.&nbsp;1)</h3>
<h4>Allgemeines</h4>

<ol>
  <li>
    Der Arbeitgeber ist verpflichtet, zur Verhütung von Berufsunfällen und
    Berufskrankheiten alle Massnahmen zu treffen, die nach der Erfahrung notwendig,
    nach dem Stand der Technik anwendbar und den gegebenen Verhältnissen
    angemessen sind.
  </li>
</ol>

<h3>OR Obligationenrecht (Art.&nbsp;328&nbsp;Abs.&nbsp;2) VII. Schutz der Persönlichkeit des
  Arbeitnehmers</h3>
<h4>Im Allgemeinen</h4>

<ol start="2">
  <li>
    Er hat zum Schutz von Leben, Gesundheit und persönlicher Integrität der
    Arbeitnehmerinnen und Arbeitnehmer die Massnahmen zu treffen, die nach der
    Erfahrung notwendig, nach dem Stand der Technik anwendbar und den Verhältnissen
    des Betriebes oder Haushaltes angemessen sind, soweit es mit Rücksicht auf das
    einzelne Arbeitsverhältnis und die Natur der Arbeitsleistung2 ihm billigerweise
    zugemutet werden kann
  </li>
</ol>

<h2>Verordnung</h2>

<h3>Verordnung über die Verhütung von Unfällen und Berufskrankheiten, VUV</h3>

<h4>VUV, Art. 6 Information und Anleitung der Arbeitnehmer</h4>

<ol>
  <li>
    Der Arbeitgeber sorgt dafür, dass alle in seinem Betrieb beschäftigten Arbeitnehmer,
    einschliesslich der dort tätigen Arbeitnehmer eines anderen Betriebes, über die bei
    ihren Tätigkeiten auftretenden Gefahren informiert und über die Massnahmen zu
    deren Verhütung angeleitet werden. Diese Information und Anleitung haben im
    Zeitpunkt des Stellenantritts und bei jeder wesentlichen Änderung der
    Arbeitsbedingungen zu erfolgen und sind nötigenfalls zu wiederholen.
  </li>
  <li>
    Die Arbeitnehmer sind über die Aufgaben und die Funktion der in ihrem Betrieb
    tätigen Spezialisten der Arbeitssicherheit zu informieren.
  </li>
  <li>
    Der Arbeitgeber sorgt dafür, dass die Arbeitnehmer die Massnahmen der
    Arbeitssicherheit einhalten.
  </li>
  <li>
    Die Information und die Anleitung müssen während der Arbeitszeit erfolgen und
    dürfen nicht zu Lasten der Arbeitnehmer gehen.
  </li>
</ol>

<h4>VUV, Art. 7 Übertragung von Aufgaben an Arbeitnehmer</h4>

<ol>
  <li>
    Hat der Arbeitgeber einen Arbeitnehmer mit bestimmten Aufgaben der
    Arbeitssicherheit betraut, so muss er ihn in zweckmässiger Weise aus- und
    weiterbilden und ihm klare Weisungen und Kompetenzen erteilen. Die für die Ausoder Weiterbildung benötigte Zeit gilt
    in der Regel als Arbeitszeit.
  </li>
  <li>
    Die Übertragung solcher Aufgaben an einen Arbeitnehmer entbindet den Arbeitgeber
    nicht von seinen Verpflichtungen für die Arbeitssicherheit.
  </li>
</ol>

<h4>VUV, Art. 8 Vorkehren bei Arbeiten mit besonderen Gefahren</h4>

<ol>
  <li>
    Der Arbeitgeber darf Arbeiten mit besonderen Gefahren nur Arbeitnehmern
    übertragen, die dafür entsprechend ausgebildet sind. Wird eine gefährliche Arbeit von
    einem Arbeitnehmer allein ausgeführt, so muss ihn der Arbeitgeber überwachen lassen
  </li>
  <li>
    Bei Arbeiten mit besonderen Gefahren müssen die Zahl der Arbeitnehmer sowie die
    Anzahl oder die Menge der gefahrbringenden Einrichtungen, Arbeitsmittel und Stoffe
    auf das Nötige beschränkt sein.
  </li>
</ol>

<h4>VUV, Art. 11a Beizugspflicht des Arbeitgebers</h4>

<ol>
  <li>
    Der Arbeitgeber muss nach Absatz 2 Arbeitsärzte und andere Spezialisten der
    Arbeitssicherheit (Spezialisten der Arbeitssicherheit) beiziehen, wenn es zum Schutz
    der Gesundheit der Arbeitnehmer und für ihre Sicherheit erforderlich ist.
  </li>
  <li>
    Die Beizugspflicht richtet sich namentlich nach:
    <ol>
      <li>dem Berufsunfall- und Berufskrankheitsrisiko, das sich aus vorhandenen
        statistischen Grundlagen sowie aus den Risikoanalysen ergibt;
      </li>
      <li>der Anzahl der beschäftigen Personen; und</li>
      <li>dem für die Gewährleistung der Arbeitssicherheit im Betrieb erforderlichen
        Fachwissen.
      </li>
    </ol>
  </li>
  <li>
    Der Beizug von Spezialisten der Arbeitssicherheit entbindet den Arbeitgeber nicht von
    seiner Verantwortung für die Arbeitssicherheit.
  </li>
</ol>

<h4>Art. 11e Aufgaben der Spezialisten der Arbeitssicherheit</h4>

<ol>
  <li>
    Die Spezialisten der Arbeitssicherheit haben namentlich folgende Funktion:
    <ol>
      <li>Sie beurteilen in Zusammenarbeit mit dem Arbeitgeber nach Anhörung der
        Arbeitnehmer oder ihrer Vertretung im Betrieb sowie der zuständigen Vorgesetzten
        die Gefahren für die Sicherheit und Gesundheit der Arbeitnehmer;
      </li>
      <li>sie beraten und orientieren den Arbeitgeber in Fragen der Arbeitssicherheit,
        insbesondere in Bezug auf:
        <ol>
          <li>die Massnahmen zur Behebung von Mängeln und zur Verminderung von Risiken,</li>
          <li>die Beschaffung von neuen Einrichtungen und Arbeitsmitteln sowie die Einführung
            von neuen Arbeitsverfahren, Betriebsmitteln, Werkstoffen und chemischen
            Substanzen,
          </li>
          <li>die Auswahl von Schutzeinrichtungen und von PSA,</li>
          <li>die Instruktion der Arbeitnehmer über die Betriebsgefahren, denen sie ausgesetzt
            sind, und über die Benützung von Schutzeinrichtungen und PSA sowie andere zu
            treffende Massnahmen,
          </li>
          <li>die Organisation der Ersten Hilfe, der medizinischen Notversorgung, der Bergung
            und der Brandbekämpfung;
          </li>
        </ol>
      </li>
      <li>sie stehen den Arbeitnehmern oder ihrer Vertretung im Betrieb für Fragen der
        Sicherheit und Gesundheit am Arbeitsplatz zur Verfügung und beraten sie.
      </li>
    </ol>
  </li>
</ol>

<h4>VUV, Art. 40 Brandbekämpfung</h4>

<ol>
  <li>
    Alarmanlagen und Feuerlöscheinrichtungen müssen leicht zugänglich, gut sichtbar als
    solche gekennzeichnet und betriebsbereit sein.
  </li>
  <li>
    Die Arbeitnehmer sind in angemessenen Zeitabständen, in der Regel während der
    Arbeitszeit, über das Verhalten bei Bränden anzuleiten.
  </li>
</ol>

<h2>Wegleitung zur Verordnung 3 zum Arbeitsgesetz</h2>

<p>2. Kapitel: Besondere Anforderungen der Gesundheitsvorsorge</p>
<p>7. Abschnitt: Art. 36 Erste Hilfe, Abs. 3</p>

<p>Im Rahmen ihres <strong>Notfallkonzeptes sollten mindestens alle 3 Jahre die folgenden
  Punkte überprüft werden:</strong></p>

<ul>
  <li>Das betriebliche Alarmmeldesystem soll ein möglichst rasches Eintreffen der
  Hilfs- und Rettungskräfte gewährleisten.</li>
  <li>Die betriebsinternen Transportmittel, z.B. Tragbahren,
  für Tragbahren zugängliche Aufzüge etc. sollen funktionstüchtig sein.</li>
  <li>Ein Evakuationsplan pro Gebäude / Standort, sowie periodische
  <strong>Evakuationsübungen (Empfehlung: jährlich)</strong> sollen sicherstellen, dass im
  Falle einer Evakuation sämtliche Mitarbeitende das Gebäude sicher und rasch
  verlassen können.</li>
</ul>

<p>Für alle Mitarbeitenden werden im Rahmen des Notfallkonzeptes <strong>regelmässige
Schulungen in den Notfallkonzept wichtigen Aspekten (z.B. Erste-Hilfe-Kurse,
Brandschutzkurse, Evakuationsübungen etc.)</strong> empfohlen.</p>

<h2>Richtlinien, Norm</h2>

<ol style='list-style-type: none;'>
  <li>VKF Brandschutznorm und Richtlinien</li>
  <li>EKAS und SUVA Richtlinien
    <ol style='list-style-type: none;'>
      <li><b>6508 ASA-Richtlinie</b><br/>
        Richtlinie über den Beizug von Arbeitsärzten und anderen Spezialisten der
        Arbeitssicherheit
      </li>
    </ol>
  </li>
</ol>

<p>Übersicht über die Gesetzeshierarchie:</p>

<p>
  <a href="#" data-reveal-id="modalImage"><%= image_tag('gesetzeshierarchie.jpg', alt: 'Gesetzeshierarchie') %></a>
</p>

<p>
  Quelle: <a href="http://www.ekas.ch">www.ekas.ch</a>
</p>

<% content_for :footer do %>
    <div id="modalImage" class="reveal-modal large">
      <h3>Gesetzeshierarchie</h3>
      <a class="close-reveal-modal">&#215;</a>
      <%= image_tag('gesetzeshierarchie.jpg', alt: 'Gesetzeshierarchie') %>
    </div>
<% end %>
