---
layout: 'default'
title: 'Impressum'
description: 'Im Impressum haben wir für Sie alle notwendigen rechtlichen Aspekte unseres Online-Auftrittes für Sie zusammengfasst.'
---

<h1>Impressum</h1>
<p>
  MPS Müller Projects &amp; Services GmbH<br/>
  Brühlweg 1, Postfach 510, CH-8049
</p>
<p>
  Eingetragen im Handelsregister des Kantons Zürich<br/>
  Registernummer: CH-020.4.031.553-2<br/>
  Bankverbindung: ZKB Clearing 700, Kto. 1100-0889.719<br/>
  IBAN CH32 0070 0110 0008 89719<br/>
  Swift-Adresse ZKBKCHZZ80A
</p>
<h2>Haftungshinweis</h2>
<p>
  Trotz sorgfältiger inhaltlicher Kontrolle übernimmt MPS Müller Projects &amp; Services GmbH keine Haftung für die
  Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschliesslich deren Betreiber verantwortlich.
</p>
<p>
  Die <%= link_to 'allgemeinen Geschäftsbedingungen', '/kurse/agb.html' %> des MPS Müller Projects &amp; Services GmbH
  Kurswesens
</p>
<h2>Rechtliches</h2>
<p>
  Dieses Werk bzw. Inhalt steht unter einer
  <%= link_to 'Creative Commons Lizenz', 'http://creativecommons.org/licenses/by-nc-sa/3.0/deed.de' %>:
</p>
<ul>
  <li>Namensnennung</li>
  <li>Nicht-kommerziell</li>
  <li>Weitergabe unter gleichen Bedingungen</li>
</ul>
<h2>Ausführung</h2>
<p>
  <%= link_to 'Michael Kessler Softwareentwicklung', 'https://mksoft.ch' %>
</p>

