---
layout: 'homepage'
title: 'Homepage'
keywords: 'Arbeitssicherheit, SIBE, Notfallmanagement, Evakuierung, Schweiz'
description: 'Alles rund um das Thema Arbeitssicherheit, Notfallmanagement, Arbeitssicherheit und Evakuierungskonzept.'
sitemap: 'Unsere Hauptseite rund um das Thema Arbeitssicherheit, Notfallmanagement, Arbeitssicherheit und Evakuierungskonzept'
---

<h1>Herzlich willkommen bei MPS</h1>

<p>
  Wir erstellen Notfall- und Arbeitssicherheitssysteme für Betriebe. Unsere Messlatte ist die praktische Umsetzung der
  Massnahmen in Ihrem Betrieb, denn nur so kann sichergestellt werden, dass sich Ihr Risiko akzeptabel reduziert. Unsere
  langjährige Erfahrung bestätigt uns sehr in dieser Ansicht.
</p>
<p>
  Erfahren Sie mehr <%= link_to 'über unsere Firma', '/ueber-uns.html' %>, unsere
  <%= link_to 'Partner', '/partner.html' %> und namhaften <%= link_to 'Referenzen', '/referenzen.html' %> und laden Sie
  aus dem <%= link_to 'Download-Bereich', '/downloads.html' %> unsere Fachartikel, Firmenpräsentation und Richtlinien
  herunter. Unsere Firma feierte im 2012 ihr 10-jähriges Jubiläum.
</p>
<p>
  Gerne unterstützen wir Sie auf der Suche nach dem passenden Foto aus dem Bereich Sicherheit für Ihre Präsentation,
  Schulung, Dokumentation, etc.
</p>
