---
layout: 'default'
title: 'Kontakt'
keywords: 'E-Mail, Telefon, Fax, Anschrift'
description: 'Alle Kontaktmöglichkeiten zu MPS Müller Projects & Services GmbH.'
sitemap: 'Hier erhalten Sie einen Überblick über alle Kontaktmöglichkeiten zu MPS Müller Projects & Services GmbH.'
---

<h1>Kontakt</h1>

<h2>Erreichbarkeit</h2>

<table>
  <tr>
    <td>Telefon:</td>
    <td>
      <a href="tel:+41443023276" class="show-for-small">+41 (0)44 302 32 76</a>
      <span class="hide-for-small">+41 (0)44 302 32 76</span>
    </td>
  </tr>
  <tr>
    <td>Fax:</td>
    <td>
      <a href="tel:+41443023277" class="show-for-small">+41 (0)44 302 32 77</a>
      <span class="hide-for-small">+41 (0)44 302 32 77</span>
    </td>
  </tr>
  <tr>
    <td>E-Mail:</td>
    <td><a href="mailto:mps@muellerps.ch">mps@muellerps.ch</a></td>
  </tr>
  <tr>
    <td>Internet:</td>
    <td><a href="http://www.muellerps.ch">www.muellerps.ch</a></td>
  </tr>
</table>

<table class="panel">
  <tr>
    <td>Notfälle 24h unter der Mobile-Telefonnummer:</td>
    <td style="white-space: nowrap;">
      <a href="tel:+41796764118" class="show-for-small">+41 (0)79 676 41 18</a>
      <span class="hide-for-small">+41 (0)79 676 41 18</span>
    </td>
  </tr>
</table>

<h2>Anschrift</h2>

<address>
  MPS Müller Projects & Services GmbH<br/>
  Brühlweg 1, Postfach 510, CH-8049 Zürich
</address>

<h3>So finden Sie uns</h3>

<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=MPS+M%C3%BCller+Projects+&amp;aq=0&amp;oq=br%C3%BChlweg+1&amp;sll=47.402773,8.499463&amp;sspn=0.009469,0.022724&amp;ie=UTF8&amp;hq=&amp;hnear=Br%C3%BChlweg+1,+H%C3%B6ngg,+8049+Z%C3%BCrich&amp;t=v&amp;cid=13953564222688647024&amp;ll=47.402773,8.499463&amp;spn=0.006295,0.006295&amp;iwloc=near&amp;output=embed"></iframe>
<p>
  <a href="https://maps.google.ch/maps?f=q&amp;source=embed&amp;hl=de&amp;geocode=&amp;q=MPS+M%C3%BCller+Projects+&amp;aq=0&amp;oq=br%C3%BChlweg+1&amp;sll=47.402773,8.499463&amp;sspn=0.009469,0.022724&amp;ie=UTF8&amp;hq=&amp;hnear=Br%C3%BChlweg+1,+H%C3%B6ngg,+8049+Z%C3%BCrich&amp;t=v&amp;cid=13953564222688647024&amp;ll=47.402773,8.499463&amp;spn=0.006295,0.006295&amp;iwloc=near" class="map hide-on-print" target="_blank">Grössere Kartenansicht</a>
</p>

<p>
  Parkieren Sie bitte im Coop Höngger Markt, Regensdorferstrasse 15, 8049 Zürich.
</p>

<p>
  Bitte <a href="mailto:mps@muellerps.ch">teilen Sie uns mit</a>, was Sie von unserer Website,
  unserer Organisation, sowie von unseren Produkten und Serviceangeboten halten.
</p>
