---
layout: 'default'
title: 'Kontakt'
description: 'Hier erhalten Sie einen Überblick über alle Kontaktmöglichkeiten zu MPS Müller Projects & Services GmbH.'
---

<h1>Kontakt</h1>

<h2>Erreichbarkeit, Öffnungszeiten</h2>

<p>
  Montag - Freitag: 07:00 - 18:00 Uhr
</p>

<table>
  <tr>
    <td>Telefon:</td>
    <td>+41 (0)44 302 32 76</td>
  </tr>
  <tr>
    <td>Fax:</td>
    <td>+41 (0)44 302 32 77</td>
  </tr>
  <tr>
    <td>E-Mail:</td>
    <td><a href="mailto:mps@muellerps.ch">mps@muellerps.ch</a></td>
  </tr>
</table>

<p>Notfälle 24h unter der Mobile-Telefonnummer: +41 (0)79 676 41 18</p>

<h2>Anschrift</h2>

<address>
  MPS Müller Projects & Services GmbH
  Brühlweg 1, Postfach 510, CH-8049 Zürich
</address>

<h3>So finden Sie uns</h3>

<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=MPS+M%C3%BCller+Projects+&amp;aq=0&amp;oq=br%C3%BChlweg+1&amp;sll=47.402773,8.499463&amp;sspn=0.009469,0.022724&amp;ie=UTF8&amp;hq=&amp;hnear=Br%C3%BChlweg+1,+H%C3%B6ngg,+8049+Z%C3%BCrich&amp;t=v&amp;cid=13953564222688647024&amp;ll=47.402773,8.499463&amp;spn=0.006295,0.006295&amp;iwloc=near&amp;output=embed"></iframe>
<p>
  <a href="https://maps.google.ch/maps?f=q&amp;source=embed&amp;hl=de&amp;geocode=&amp;q=MPS+M%C3%BCller+Projects+&amp;aq=0&amp;oq=br%C3%BChlweg+1&amp;sll=47.402773,8.499463&amp;sspn=0.009469,0.022724&amp;ie=UTF8&amp;hq=&amp;hnear=Br%C3%BChlweg+1,+H%C3%B6ngg,+8049+Z%C3%BCrich&amp;t=v&amp;cid=13953564222688647024&amp;ll=47.402773,8.499463&amp;spn=0.006295,0.006295&amp;iwloc=near" class="map" target="_blank">Grössere Kartenansicht</a>
</p>

<p>
  Parkieren Sie bitte im Coop Höngger Markt, Regensdorferstrasse 15, 8049 Zürich.
</p>

<p>
  Bitte teilen Sie uns mit, was Sie von unserer Website, unserer Organisation, sowie vonunseren Produkten und
  Serviceangeboten halten.
</p>
