---
layout: 'default'
title: 'Kurse'
description: 'In dieser Kategorie erhalten Sie einen aussagekräftigen Überblick über unser aktuelles Kursangebot.'
courses:
  -
    name: "Grundwissen Arbeitssicherheit & Gesundheitsschutz SIBE (SUVA annerkannt)"
    partial: "arbeitssicherheit"
  -
    name: "Brandschutzreferat (SUVA annerkannt)"
    partial: "brandschutzreferat"
  -
    name: "Arbeitssicherheit als Führungskompetenz (SUVA annerkannt)"
    partial: "arbeitssicherheit-als-fuehrungskompetenz"
  -
    name: "Individuelle Kurse"
    partial: "individuelle-kurse"
---

<h1>Kurse</h1>

<p>
  Bitte beachten Sie auch die <%= link_to 'allgemeinen Geschäftsbedingungen', '/kurse/agb.html' %> des MPS Müller
  Projects & Services GmbH Kurswesens.
</p>

<div class="section-container accordion" data-section="accordion">
  <% current_page.data.courses.each do |course| %>
  <section>
    <p class="title" data-section-title>
      <%= link_to course.name, "##{ course.partial }"%>
    </p>
    <div class="content" data-section-content>
      <%= partial "kurse/#{ course.partial }" %>
    </div>
  </section>
  <% end %>
</div>

<p>
  Laden Sie den <%= link_to 'Flyer zu den MPS Kursen', '/documents/MPS-Kurse.pdf' %> herunter.
</p>

<div class="row">
  <div class="large-6 columns">
    <% link_to '/kurse/buchen.html' do %>
      <div class="panel radius callout" align="center">
        <p>Kurs jetzt buchen!</p>
      </div>
    <% end %>
  </div>
  <div class="large-6 columns">
    <% link_to '/kontakt.html' do %>
      <div class="panel radius callout" align="center">
        <p>Persönliche Beratung</p>
      </div>
    <% end %>
  </div>
</div>
