---
layout: 'default'
title: 'Kurse'
description: 'In dieser Kategorie erhalten Sie einen aussagekräftigen Überblick über unser aktuelles Kursangebot.'
courses:
  -
    name: "Grundwissen Arbeitssicherheit & Gesundheitsschutz SIBE"
    partial: "arbeitssicherheit"
  -
    name: "Brandschutzreferat"
    partial: "brandschutzreferat"
  -
    name: "Arbeitssicherheit als Führungskompetenz"
    partial: "arbeitssicherheit-als-fuehrungskompetenz"
  -
    name: "Individuelle Kurse"
    partial: "individuelle-kurse"
---

<h1>Kurse</h1>

<p>
  Bitte beachten Sie auch die <%= link_to 'allgemeinen Geschäftsbedingungen', '/kurse/agb.html' %> des MPS Müller
  Projects & Services GmbH Kurswesens.
</p>

<div class="section-container accordion" data-section="accordion">
  <% current_page.data.courses.each do |course| %>
  <section>
    <p class="title" data-section-title>
      <%= link_to course.name, "##{ course.partial }"%>
    </p>
    <div class="content" data-section-content>
      <%= partial "kurse/#{ course.partial }" %>
    </div>
  </section>
  <% end %>
</div>

<p>
  Laden Sie den <%= link_to 'Flyer zu den MPS Kursen', '/documents/MPS-Kurse.pdf' %> herunter.
</p>

<div class="row">
  <div class="large-6 columns">
    <a href="#" data-reveal-id="registrationDialog">
      <div class="panel radius callout" align="center">
        <p>Kurs jetzt buchen!</p>
      </div>
    </a>
  </div>
  <div class="large-6 columns">
    <% link_to '/kontakt.html' do %>
      <div class="panel radius callout" align="center">
        <p>Persönliche Beratung</p>
      </div>
    <% end %>
  </div>
</div>

<% content_for :footer do %>
    <div id="registrationDialog" class="reveal-modal large">
      <h2>Kurs registration</h2>
      <a class="close-reveal-modal">&#215;</a>
      <iframe id="googleForms" src="https://docs.google.com/forms/d/1cu-6wErOuMUiN6Eb-JSrbZH63G5pCaAUfGQ7Zorg2SY/viewform?embedded=true" width="100%" height="60%" frameborder="0" marginheight="0" marginwidth="0">
        Lade Formular...
      </iframe>
    </div>
<% end %>
