---
layout: 'default'
title: 'Schulungen'
description: 'Unser Schulungs- und Kursangebot verhilft den Mitarbeitenden Ihrer Firma zu einem bewussten und verantwortungsvollen Umgang mit allen Themen, die die Bereiche ArbeitssUnser Schulungs- und Kursangebot verhilft den Mitarbeitenden Ihrer Firma zu einem bewussten und verantwortungsvollen Umgang mit allen Themen, die die Bereiche Notfallmanagement, Arbeitssicherheit und Brandschutz betreffen. Unter dieser Übersicht hat MPS Müller Projects & Services GmbH alle wichtigen Dienstleistungen für Sie zusammengefasst.'
classes:
  -
    name: "Schulungen Arbeitssicherheit"
    partial: "schulungen-arbeitssicherheit"
  -
    name: "Schulungen Brandschutz"
    partial: "schulungen-brandschutz"
  -
    name: "Höhere Fachschulen"
    partial: "hoehere-fachschulen"
---

<h1>Schulungen</h1>

<p>Schulungen und Referate gehören zu den Kernkompetenzen von MPS Müller Projects & Services GmbH.</p>

<div class="row panel">
  <div class="large-3 columns">
    <%= image_tag('symbole/schulungen.png', alt: 'Schulungen') %>
  </div>
  <div class="large-9 columns">
    <ul>
      <li>Sind Ihre Mitarbeiter ausgebildet und auf dem neusten Stand?</li>
      <li>Kommen Sie den gesetzlichen Pflichten der Mitarbeiterschulung in Sachen Arbeitssicherheit und Brandschutz
        nach?
      </li>
      <li>Werden Mitarbeiter systematisch eingeführt und weitergebildet?</li>
    </ul>
  </div>
</div>

<h2>Ihre Vorteile</h2>

<ul>
  <li>
    Einhaltung der gesetzlichen Verpflichtung zur Aus- & Weiterbildung Ihres Personals, SIBE, KOPAS oder GL.
    Gesetzliches
  </li>
  <li>
    Die Schulung entspricht Ihren Bedürfnissen und Anforderungen.
  </li>
  <li>
    Sie können von unseren Erfahrungen profitieren.
  </li>
  <li>
    Die geeignete Form der Schulung ist entscheidend, deshalb machen wir auch praktische Schulungen vor Ort.
  </li>
  <li>
    Dokumentationen sowie Prüfungen und Kurszertifikate sind eine Selbstverständlichkeit.
  </li>
  <li>
    Arbeitssicherheit wird nur durch Motivation erfolgreich gewährleistet. Das ist schwierig aber nicht unmöglich!
  </li>
</ul>

<h2>Unser Angebot</h2>

<div class="section-container accordion" data-section="accordion">
  <% current_page.data.classes.each do |clazz| %>
      <section>
        <p class="title" data-section-title>
          <%= link_to clazz.name, "##{ clazz.partial }"%>
        </p>
        <div class="content" data-section-content>
          <%= partial "schulungen/#{ clazz.partial }" %>
        </div>
      </section>
  <% end %>
</div>

<p>
  Kennen Sie die <%= link_to 'gesetzlichen Auflagen', '/gesetzliche-auflagen.html' %>?
</p>
