---
layout: 'default'
title: 'Schulungen'
---

<h1>Schulungen</h1>

<p>Schulungen und Referate gehören zu den Kernkompetenzen von MPS Müller Projects & Services GmbH.</p>

<div class="row panel">
  <div class="large-3 columns">
    <%= image_tag('checklist.png') %>
  </div>
  <div class="large-9 columns">
    <ul>
      <li>Sind Ihre Mitarbeiter ausgebildet und auf dem neusten Stand?</li>
      <li>Kommen Sie den gesetzlichen Pflichten der Mitarbeiterschulung in Sachen Arbeitssicherheit und Brandschutz
        nach?
      </li>
      <li>Werden Mitarbeiter systematisch eingeführt und weitergebildet?</li>
    </ul>
  </div>
</div>

<h2>Ihre Vorteile</h2>

<ul>
  <li>
    Einhaltung der gesetzlichen Verpflichtung zur Aus- & Weiterbildung Ihres Personals, SIBE, KOPAS oder GL.
    Gesetzliches
  </li>
  <li>
    Die Schulung entspricht Ihren Bedürfnissen und Anforderungen.
  </li>
  <li>
    Sie können von unseren Erfahrungen profitieren.
  </li>
  <li>
    Die geeignete Form der Schulung ist entscheidend, deshalb machen wir auch praktische Schulungen vor Ort.
  </li>
  <li>
    Dokumentationen sowie Prüfungen und Kurszertifikate sind eine Selbstverständlichkeit.
  </li>
  <li>
    Arbeitssicherheit wird nur durch Motivation erfolgreich gewährleistet. Das ist schwierig aber nicht unmöglich!
  </li>
</ul>

<h2>Unser Angebot</h2>

<div class="section-container accordion" data-section="accordion">
  <section>
    <p class="title" data-section-title>
      Schulungen Arbeitssicherheit
    </p>

    <div class="content" data-section-content>
      <p>
        MPS führt offiziell anerkannte Arbeitssicherheitsschulungen für die SUVA durch!
      </p>

      <p>
        Die SUVA steht im Bereich Arbeitssicherheit für Kontinuität und Qualität. Die Firma MPS führt unter dem
        Qualitätslabel dieser renommierten Versicherung offiziell Schulungen im Bereich Arbeitssicherheit und
        Brandschutz durch, wie z.B. SIBE Kurse, Brandschutzkurse, Arbeitssichhrheitskurse
      </p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      Schulungen Brandschutz
    </p>

    <div class="content" data-section-content>
      <p>
        Wie wäre es zum Beispiel mit einem Brandschutzreferat für Ihre Firma, Ihren Verein, Verwaltung etc.?
      </p>

      <p>
        Unsere Brandschutzreferate sind auf Ihre Zielgruppe ausgerichtet. Einhaltung der gesetzlichen Verpflichtung zur
        Weiter- und Ausbildung Ihres Personales zu dem Thema Brandschutz sind ein wesentlicher Bestandteil der
        Brandschutzschulungen. Dies kann natürlich sehr gut mit dem praktischen Teil eines Brandschutzkurses kombiniert
        werden.
      </p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      Höhere Fachschulen
    </p>

    <div class="content" data-section-content>
      <p>
        Verschiedene Mitarbeiter (inkl. freie Mitarbeiter) dozieren an diversen höheren Fachschulen und Kaderschulen in
        den Fachbereichen:
      </p>

      <ul>
        <li>Arbeitssicherheit</li>
        <li>Brandschutz</li>
        <li>Angewandtes Projektmanagement</li>
        <li>Arbeitsmethodik / -systematik</li>
        <li>Prozesse & Arbeitssysteme</li>
      </ul>
    </div>
  </section>
</div>

<p>
  Kennen Sie die <%= link_to 'gesetzlichen Auflagen', '/schulungen/gesetzliche-auflagen.html' %>?
</p>
