---
layout: 'default'
title: 'Über uns'
keywords: 'Notfallmanagement, Schulung, Arbeitssicherheit, betrieblicher Brandschutz, Evakuation, Evakuationsplanung, Evakuationskonzept, SIBE'
description: 'Als Spezialisten geben wir Ihnen hier gerne einen Einblick in unsere Organisation, unsere Philosophie, sowie unsere fachlichen Qualifikationen.'
sitemap: 'Als Spezialisten geben wir Ihnen hier gerne einen Einblick in unsere Organisation, unsere Philosophie, sowie unsere fachlichen Qualifikationen.'
---

<h1>Über uns</h1>

<p>
  Wir sind ein Unternehmen, das sich seit 2002 auf Notfallmanagement, Arbeitssicherheit, Brandschutz und Schulungen
  spezialisiert hat.
</p>

<p>
  <a href="#" data-reveal-id="modalImage"><%= image_tag('phasen/MPS-integrierte-sicherheit.jpg', alt: 'Integrierte Sicherheit') %></a>
</p>

<% content_for :footer do %>
  <div id="modalImage" class="reveal-modal large">
      <h2>MPS integrierte Sicherheit</h2>
      <a class="close-reveal-modal">&#215;</a>
      <%= image_tag('phasen/MPS-integrierte-sicherheit.jpg', alt: 'Integrierte Sicherheit') %>
  </div>
<% end %>

<p>Unsere Hauptgebiete im Bereich Notfallmanagement, Arbeitssicherheit und Brandschutz sind:</p>

<ul>
  <li>Notfallmanagement</li>
  <li>Sicherheitsaudits &amp; Massnahmenplanung</li>
  <li>Gefährdungsermittlung &amp; Risikoanalysen</li>
  <li>Arbeitssicherheitskonzepte, Brandschutzkonzepte</li>
  <li>Schulungen im Bereich Notfallmanagement, Arbeitssicherheit und Brandschutz</li>
  <li>Schulungen an höheren Fachschulen</li>
</ul>

<div class="section-container accordion" data-section="accordion" data-options="one_up: false;">
  <section>
    <p class="title" data-section-title>
      <a href="#leitgedanken">Leitgedanken</a>
    </p>

    <div class="content" data-section-content>
      <ul>
        <li>Durch den optimalen Nutzen für unsere Kunden wollen wir uns von der Konkurrenz deutlich absetzen.</li>
        <li>Qualität, Aktualität und individuelle Kundenausrichtung ist für uns ein Schlüsselwert.</li>
        <li>Dank unserer Flexibilität und Erfahrung können wir uns auf Ihre neuartigen Geschäftsideen mit kreativen
          Lösungen
          einstellen.
        </li>
        <li>Eine kontinuierliche Weiterentwicklung ist ein wichtiger Bestandteil unseres täglichen Denkens und
          Handelns.
        </li>
        <li>Als Kunde können Sie von unserem Fachwissen profitieren und dieses zielgerichtet einsetzen.</li>
      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      <a href="#unternehmensziel">Unser Unternehmensziel</a>
    </p>

    <div class="content" data-section-content>
      <p>
        Wir sind ein Dienstleister im Bereich Notfallmanagement, Arbeitssicherheit, Brandschutz und Schulungen, von dem
        Sie maximalen Nutzen erwarten und erhalten können.
      </p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      <a href="#organisationsprofil">Organisationsprofil</a>
    </p>

    <div class="content" data-section-content>
      <p>
        Wir bieten eine auf Ihren Wunsch zugeschnittene Organisation, die unabhängige Dienstleistungen erbringen
        kann.
      </p>

      <p>
        Wir arbeiten, wo nötig, mit kompetenten Partnern aus den entsprechenden Fachgebieten zusammen, um Ihnen die für
        Sie beste Lösung bieten zu können.
      </p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      <a href="#weiterbildung">Weiterbildung</a>
    </p>

    <div class="content" data-section-content>
      <p>Durch kontinuierliche Weiterbildung verbessern wir unser Wissen in allen unseren Fachbereichen.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      <a href="#geschichte">Geschichte</a>
    </p>

    <div class="content" data-section-content>
      <p>
        Die Firma wurde im Jahre 2002 als Einzelfirma gegründet und 2005 in eine GmbH überführt. Mit dem Sitz in Zürich
        haben wir eine sehr zentrale Lage und können so effizient unsere Dienstleistungen erbringen. Zusammen mit den
        freien Mitarbeitenden sind wir ein Team von zurzeit acht motivierten, zielstrebigen und auf Ihren Nutzen
        ausgerichteten Mitarbeitenden.
      </p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      <a href="#mitgliedgschaften">Mitgliedgschaften</a>
    </p>

    <div class="content" data-section-content>
      <ul>
        <li>SGAS / Schweizerische Gesellschaft für Arbeitssicherheit</li>
        <li>VBSF / Schweizerischer Verein von Brandschutz- und Sicherheitsfachleuten</li>
        <li>SGIG / Studiengruppe für Industrie und Gewerbe</li>
        <li>Swissi / Sicherheitsinstut, Schweizerisches Institut zur Förderung der Sicherheit</li>
        <li>SVTI / Schweizerischer Verein für technische Inspektionen</li>
      </ul>
    </div>
  </section>
</div>

<h2>Unsere Mitarbeiter</h2>

<div class="section-container accordion employees" data-section="accordion" data-options="one_up: false;">
  <section>
    <p class="title" data-section-title>
      <a href="#roman-mueller">Roman Müller, Geschäftsführer</a>
    </p>

    <div class="content" data-section-content>
      <p class="right">
        <%= image_tag('mitarbeiter/rm.jpg', alt: 'Geschäftsführer') %>
      </p>

      <h4>Ausbildungen</h4>

      <ul>
        <li>Nachdiplomstudium Betriebswirtschaft «dipl. NDS HF Betriebswirtschaf &amp; Management»</li>
        <li>Brandschutzfachmann / Confederation of Fire Protection Association Europe (CFPA)</li>
        <li>Sicherheitsfachmann EKAS/SUVA nach ISO/IEC 17024, ASA-Spezialist</li>
        <li>Erwachsenenbildner SVEB1</li>
        <li>Betriebstechniker TS/HF</li>
        <li>Maschinenmechaniker</li>
      </ul>

      <h4>Weiterbildungen</h4>

      <ul>
        <li>Diplomexperte</li>
        <li>Führungs-, Kommunikation-, Gesprächsführungs- &amp; Selektionsausbildungen</li>
        <li>Betriebssanitäter</li>
        <li>Feuerwehrausbildungen: Fachlich &amp; Führung, Offizier, ehem. Ausbildungschef / Kdt Stv. Feuerwehr</li>
      </ul>

      <h4>Erfahrungen</h4>

      <ul>
        <li>Geschäftsführer MPS</li>
        <li>Kursleiter SUVA</li>
        <li>Sicherheitsberater Notfallmanagement, Arbeitssicherheit, Brandschutz</li>
        <li>Fachexperte Sicherheitsfachmann EKAS</li>
        <li>Diplomexperte Nachdiplomstudium (NDS) Betriebswirtschaft HF</li>
        <li>Diplomexperte Techniker in Unternehmensprozesse HF</li>
        <li>Diplomexperte an Technikerschulen TS/HF</li>
        <li>Dozent &amp; Seminarleiter an Kaderschulen</li>
        <li>Projektleitung &amp; -mitarbeit in komplexen Grossprojekten</li>
        <li>Sicherheitsbeauftragter Produktion</li>
        <li>Ehemals Leiter Produktionsplanung und -steuerung, Arbeitsvorbereitung AVOR</li>
        <li>12 Jahre tätig in der Flugzeugindustrie</li>
      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      <a href="#anita-mueller">Anita Müller, Administration</a>
    </p>

    <div class="content" data-section-content>
      <p class="right">
        <%= image_tag('mitarbeiter/am.jpg', alt: 'Administration') %>
      </p>

      <h4>Ausbildungen</h4>

      <ul>
        <li>Treuhandausbildung</li>
        <li>Kaufmännische Angestellte</li>
      </ul>

      <h4>Weiterbildungen</h4>

      <ul>
        <li>Treuhandimmobilien-Kurse</li>
        <li>Lehrmeisterin für Kaufmännische Angestellte</li>
      </ul>

      <h4>Weiterbildungen</h4>

      <ul>
        <li>Langjährige Tätigkeit als Treuhänderin</li>
        <li>Immobilienverwaltung</li>
        <li>Lehrmeisterin</li>
      </ul>
    </div>
  </section>
  <section>
    <p class="title" data-section-title>
      <a href="#freie-mitarbeiter">Freie Mitarbeiter</a>
    </p>

    <div class="content" data-section-content>
      <p>
        Für verschiedene Fachthemen stehen uns freie Mitarbeiter zu Verfügung, die wir auftragsbezogen einsetzen, um Ihnen
        damit einen optimalen Kosten/Nutzen zu bieten.
      </p>
    </div>
  </section>
</div>



