---
layout: 'default'
title: 'Über uns'
description: 'Als Spezialisten geben wir Ihnen hier gerne einen Einblick in unsere Organisation, unsere Philosophie, sowie unsere fachlichen Qualifikationen'
---

<h1>Über uns</h1>

<p>
  Wir sind ein Unternehmen, das sich seit 2002 auf Notfallmanagement, Arbeitssicherheit, Brandschutz und Schulungen
  spezialisiert hat.
</p>
<p>
  <%= image_tag('phasenmodell.jpg') %>
</p>
<p>Unsere Hauptgebiete im Bereich Notfallmanagement, Arbeitssicherheit und Brandschutz sind:</p>
<ul>
  <li>Notfallmanagement</li>
  <li>Sicherheitsaudits &amp; Massnahmenplanung</li>
  <li>Gefährdungsermittlung &amp; Risikoanalysen</li>
  <li>Arbeitssicherheitskonzepte, Brandschutzkonzepte</li>
  <li>Schulungen im Bereich Notfallmanagement, Arbeitssicherheit und Brandschutz</li>
  <li>Schulungen an höheren Fachschulen</li>
</ul>
<h2>Leitgedanken</h2>
<ul>
  <li>Durch den optimalen Nutzen für unsere Kunden wollen wir uns von der Konkurrenz deutlich absetzen.</li>
  <li>Qualität, Aktualität und individuelle Kundenausrichtung ist für uns ein Schlüsselwert.</li>
  <li>Dank unserer Flexibilität und Erfahrung können wir uns auf Ihre neuartigen Geschäftsideen mit kreativen Lösungen
    einstellen.
  </li>
  <li>Eine kontinuierliche Weiterentwicklung ist ein wichtiger Bestandteil unseres täglichen Denkens und Handelns.</li>
  <li>Als Kunde können Sie von unserem Fachwissen profitieren und dieses zielgerichtet einsetzen.</li>
</ul>

<h2>Unser Unternehmensziel</h2>

<p>
  Wir sind ein Dienstleister im Bereich Notfallmanagement, Arbeitssicherheit, Brandschutz und Schulungen, von dem Sie
  maximalen Nutzen erwarten und erhalten können.
</p>

<h2>Organisationsprofil</h2>

<p>Wir bieten eine auf Ihren Wunsch zugeschnittene Organisation, die unabhängige Dienstleistungen erbringen kann.</p>
<p>
  Wir arbeiten, wo nötig, mit kompetenten Partnern aus den entsprechenden Fachgebieten zusammen, um Ihnen die für Sie
  beste Lösung bieten zu können.
</p>

<h2>Weiterbildung</h2>

<p>Durch kontinuierliche Weiterbildung verbessern wir unser Wissen in allen unseren Fachbereichen.</p>

<h2>Geschichte</h2>

<p>
  Die Firma wurde im Jahre 2002 als Einzelfirma gegründet und 2005 in eine GmbH überführt. Mit dem Sitz in Zürich haben
  wir eine sehr zentrale Lage und können so effizient unsere Dienstleistungen erbringen. Zusammen mit den freien
  Mitarbeitenden sind wir ein Team von zurzeit acht motivierten, zielstrebigen und auf Ihren Nutzen ausgerichteten
  Mitarbeitenden.
</p>

<h2>Mitgliedgschaften</h2>

<ul>
  <li>SGAS / Schweizerische Gesellschaft für Arbeitssicherheit</li>
  <li>VBSF / Schweizerischer Verein von Brandschutz- und Sicherheitsfachleuten</li>
  <li>SGIG / Studiengruppe für Industrie und Gewerbe</li>
  <li>Swissi / Sicherheitsinstut, Schweizerisches Institut zur Förderung der Sicherheit</li>
  <li>H&amp;H Höngg / Handel und Gewerbeverein Höngg</li>
</ul>

<h2>Unsere Mitarbeiter</h2>

<h3>Roman Müller</h3>

<p>
  <%= image_tag('mitarbeiter/roman-mueller.jpg') %>
</p>

<p>Roman Müller -- Geschäftsführer</p>

<h4>Ausbildungen</h4>

<ul>
  <li>Nachdiplomstudium Betriebswirtschaft «dipl. NDS HF Betriebswirtschaf &amp; Management»</li>
  <li>Brandschutzfachmann / Confederation of Fire Protection Association Europe (CFPA)</li>
  <li>Sicherheitsfachmann EKAS/SUVA nach ISO/IEC 17024, ASA-Spezialist</li>
  <li>Erwachsenenbildner SVEB1</li>
  <li>Betriebstechniker TS/HF</li>
  <li>Maschinenmechaniker</li>
</ul>

<h4>Weiterbildungen</h4>

<ul>
  <li>Diplomexperte</li>
  <li>Führungs-, Kommunikation-, Gesprächsführungs- &amp; Selektionsausbildungen</li>
  <li>Betriebssanitäter</li>
  <li>Feuerwehrausbildungen: Fachlich &amp; Führung, Offizier, Ausbildungschef Feuerwehr</li>
</ul>

<h4>Erfahrungen</h4>

<ul>
  <li>Geschäftsführer MPS</li>
  <li>Kursleiter SUVA</li>
  <li>Sicherheitsberater Notfallmanagement, Arbeitssicherheit, Brandschutz</li>
  <li>Fachexperte Sicherheitsfachmann EKAS</li>
  <li>Diplomexperte an Technikerschulen TS/HF</li>
  <li>Dozent &amp; Seminarleiter an Kaderschulen</li>
  <li>Projektleitung &amp; -mitarbeit in komplexen Grossprojekten</li>
  <li>Sicherheitsbeauftragter Produktion</li>
  <li>Ehemals Leiter Produktionsplanung und -steuerung, Arbeitsvorbereitung AVOR</li>
  <li>12 Jahre tätig in der Flugzeugindustrie</li>
</ul>

<h3>Anita Müller</h3>

<p>
  <%= image_tag('mitarbeiter/anita-mueller.jpg') %>
</p>

<p>Anita Müller -- Administration</p>

<h4>Ausbildungen</h4>

<ul>
  <li>Treuhandausbildung</li>
  <li>Kaufmännische Angestellte</li>
</ul>

<h4>Weiterbildungen</h4>

<ul>
  <li>Treuhandimmobilien-Kurse</li>
  <li>Lehrmeisterin für Kaufmännische Angestellte</li>
</ul>

<h4>Weiterbildungen</h4>

<ul>
  <li>Langjährige Tätigkeit als Treuhänderin</li>
  <li>Immobilienverwaltung</li>
  <li>Lehrmeisterin</li>
</ul>

<h3>Freie Mitarbeiter</h3>

<p>
  Für verschiedene Fachthemen stehen uns freie Mitarbeiter zu Verfügung, die wir auftragsbezogen einsetzen, um Ihnen
  damit einen optimalen Kosten/Nutzen zu bieten.
</p>
