---
layout: 'default'
title: 'Arbeitssicherheit vs. Brandschutz vs. Security'
globotitle: 'Arbeitssicherheit Schweiz, Arbeitssicherheit, Evakuierungskonzept, betrieblicher Brandschutz'
---

<h1>Arbeitssicherheit vs. Brandschutz vs. Security</h1>

<h2>Zielkonflikte</h2>

<p>Kann die Arbeitssicherheit dem Brandschutz gefährlich werden - und ist diese gar eine Konkurrentin der klassischen
  Sicherheit? Der Beitrag beleuchtet die Zielkonflikte dieser drei Bereiche und erklärt, weshalb es ohne pragmatische
  Kompromisse kaum geht.

<p>Von Roman Müller und Stefan Kühnis

<p>In unseren Tätigkeiten in den Bereichen Arbeitssicherheit und Brandschutz fallen uns immer wieder Situationen auf,
  welche für die Bereiche Arbeitssicherheit, Brandschutz und klassische Sicherheit (Security) klare Kompromisse
  darstellen. Kompromisse, welche aus offensichtlichen Zielkonflikten der verschiedenen Teilbereiche entstehen.

<p>Oft zeigen sich Konflikte zwischen Einbruchschutz und Fluchtwegen. Was tun, wenn Fluchtwege versperrt oder durch
  Rauch abgeschnitten sind - und die Fenster vergittert? Solche Fenstergitter installieren oft Betroffene von
  Einbrüchen, ohne dabei an das sich verändernde Gesamtkonzept zu denken.

<p>Wie sieht es bei einem Brandalarm mit der Zutrittskontrolle des entsprechenden Gebäudes aus? Sensible Firmenbereiche
  müssen einer Intervention offen stehen. Ist die Sicherheit noch immer gegeben? Wie sieht es denn mit dem Zutritt der
  Feuerwehr aus? Gut gesicherte Haustüren, Fenstergitter oder Sicherheitsglas können gefährlich werden, vor allem in
  Kombination mit einem nicht mit Fachleuten abgesprochenen Konzept. Ein schneller Zutritt ohne Schlüssel wird erheblich
  erschwert. Schlüsselrohre für die Interventionskräfte sollten installiert werden, damit der Zugang gewährleistet
  werden kann. In Betrieben wird dies sicherlich vermehrt umgesetzt. Wie ist es im privaten Einfamilienhaus?

<p>Fragen stellen sich auch zu einer Evakuierung des Gebäudes: Wer darf und soll diese auslösen? Die betroffenen
  Menschen in Sicherheit zu bringen hat für uns absolute Priorität. Dann wäre es ja sinnvoll, dass jedermann den
  Evakuationsalarm auslösen kann, der einen Vorfall erkennt. Ist es aber immer zwingend das Gebäude zu evakuieren, oder
  könnte dies gar missbräuchlich geschehen, um Daten und Waren zu stehlen, während der Rest des Personals das Gebäude
  verlässt? Da steht der Arbeitssicherheit doch der Aspekt der Sicherheit deutlich im Weg.

<p>Einige Geschichten zeigen auf, was geschehen kann, wenn solche Zielkonflikte nicht richtig eingeschätzt werden:

<h2>Bradford</h2>

<p>Am 11. Mai 1985 sterben im englischen Bradford 56 Zuschauer eines Fussballspiels, weitere 265 werden verletzt. Ein
  plötzlich ausbrechendes Feuer verwüstet die veraltete Holztribüne, welche zu diesem Zeitpunkt mit ungefähr 3000
  Zuschauern besetzt ist. Das Saisonfinale ist beinahe ausverkauft.</p>

<p>Ursachenermittler stellen später fest: Das Feuer wird versehentlich ausgelöst, weil ein Zuschauer eine Zigarette in
  einer Polystyroltasse ausdrückt. Die Tasse fällt durch ein Loch zwischen den Tribünenstufen auf Abfälle, diese
  entzünden sich und das Feuer breitet sich extrem schnell aus.</p>

<p>Erst denkt niemand, dass es ein ernster Zwischenfall sei. Die Gefahr wird durch Fans und Veranstalter unterschätzt.
  Heftige Windstösse und ein so genannter Flashover fachen das Feuer jedoch so weit an, dass es sich mit hoher
  Geschwindigkeit ausbreitet und die Tribüne in kürzester Zeit vollständig in Brand setzt.</p>

<p>Die meisten Tribünenzuschauer rennen auf das Spielfeld, ein Teil jedoch versucht dem Feuer durch die Hinterausgänge
  der Tribüne zu entkommen. Vermutlich blockieren die Drehkreuze am Tribünenzugang durch die flüchtenden Zuschauer. Die
  Notausgänge wurden vor dem Spiel vom Veranstalter geschlossen, damit sich niemand während des Spiels hineinschleichen
  kann. Dies ist wohl eine der wesentlichen Ursachen dafür, dass so viele Menschen ums Leben kommen. Von der Tribüne
  können sich viele nicht über die Mauer hinüber zum Spielfeld retten, da das Feuer die Tribüne innerhalb von nur vier
  Minuten vollständig entzündet. Viele fühlen sich auf dem Spielfeld vermeintlich sicher, verlassen das Stadion nicht.
  Der Ernst der Lage ist ihnen nicht oder erst sehr spät bewusst.</p>

<p>Die Feuerwehr erreicht den Brandort ebenfalls nach vier Minuten. Ihr Einsatz wird aber erschwert durch dicken Rauch,
  hohe Flammenbildung und Hitze. Erst später wird es möglich Personen zu bergen. Das Feuer zerstört die komplette
  Tribüne, Sitze, die Flutlichtanlage und Absperrzäune. Bis in den frühen Morgen des nächsten Tages dauern die
  Bergungsarbeiten. Eine Besonderheit: Die meisten der 56 Menschen sterben infolge von Brandverletzungen – normalerweise
  führt bei Bränden eine Rauchgasvergiftung zum Tod.</p>

<p>Pikant: Vor der Saison beanstandet die örtliche Feuerwehr die Papierabfälle unter der alten Holztribüne und
  empfiehlt, diese eventuelle Brandlast zu entfernen. Der Empfehlung wird nicht entsprochen, weil die alte Holztribüne
  nach der Saison – also nach diesem einen Spiel - durch eine neue Tribüne aus Stahl und Beton ersetzt werden soll.</p>

<p>Bereiche im Zielkonflikt: Brandschutzmassnahmen, Zutrittskontrolle, Fluchtwege, Evakuierung, Finanzen</p>.

<h2>Brüssel</h2>

<p>Nur zwei Wochen nach Bradford ereignet sich im Brüsseler Heysel-Stadion ein neues Drama. Vor dem Endspiel um den
  Europapokal der Landesmeister 1984/85 zwischen dem FC Liverpool und Juventus Turin stürmen Anhänger Liverpools den
  neutralen Fansektor, welcher mehrheitlich von italienischen Fans gefüllt ist. 39 Menschen werden getötet, 454
  verletzt.</p>

<p>Schon am Mittag randalieren alkoholisierte Fans in der Stadt. Eine Stunde vor Anpfiff beginnen die Anhänger von
  Juventus, die Polizisten im Stadion mit Steinen und Leuchtraketen zu gefährden. Die Anhänger des FC Liverpool
  antworten mit Schmähgesängen und bengalischen Feuern. Zwei Juventus-Fans stürmen auf den Rasen. Um 19.45 Uhr versuchen
  mehrere hundert Fans des FC Liverpool – angestachelt von den Provokationen – den benachbarten Block zu stürmen. Im
  Block Z stehen vor allem italienische Fans. Die flüchtenden Juventus-Fans geraten in Panik. Viele von ihnen werden
  gegen eine Mauer gedrückt, welche mehrere Minuten später zusammenfällt und die meisten der insgesamt 39 Opfer unter
  sich begräbt.</p>

<p>Pikant: Die italienischen Fans erhielten die Tickets in Block Z von einem italienischen Reisebüro, dieses wiederum
  von einem korrupten UEFA-Offiziellen. Die Fans dürfen eigentlich nicht in Block Z stehen, dort sollen sich nur
  neutrale Zuschauer befinden. Das Stadion erfüllt die Anforderungen der UEFA für ein Europapokal-Endspiel nicht. Zudem
  ist Block Z nur unzureichend gesichert. Als Abgrenzung dient lediglich ein schwacher Maschendrahtzaun, den man ohne
  grösseren Kraftaufwand problemlos niederdrücken kann. Die Mauer, die auf die Fans niederstürzt, war zuvor schon
  brüchig. Und Polizisten sind im Block Z nicht anwesend.</p>

<p>Bereiche im Zielkonflikt: Persönliche Sicherheit, Zutrittskontrolle, Finanzen, Intervention.</p>

<h2>Sheffield</h2>

<p>Die Valley-Parade-Feuerkatastrophe in Bradford hat eine neue Gesetzgebung zur Folge, welche die Sicherheitsmassnahmen
  deutlich verbessert, so dass Zuschauer bei Ausbruch eines Feuers schneller und sicherer über Fluchtwege entkommen
  können. Dem folgenden Popplewell-Bericht wird allerdings nicht sofort von jedem Club entsprochen, besonders bezüglich
  der Empfehlung zur Abschaffung hoher Zäune – vermutlich aufgrund der Gewalt in den Stadien, wie sie das Heysel-Stadion
  erlebte. Allerdings führt dieses Versäumnis am 15. April 1989 zur Hillsborough-Katastrophe.</p>

<p>Im gleichnamigen Stadion in Sheffield, eine Autostunde von Bradford und vier Jahre von der Valley-Parade- und der
  Heysel-Katastrophe entfernt, findet das Halbfinalspiel um den FA Cup zwischen dem FC Liverpool und Nottingham Forest
  statt. Rund eine Stunde vor dem Spiel sind bereits so viele Menschen vor dem Stadion, dass der Druck auf die äusseren
  Tore immer grösser wird. Nur sieben Drehkreuze führen zum Mittelblock, der 10'000 Menschen fasst. Die Ordnungskräfte
  öffnen ein zusätzliches Tor, um den Druck zu reduzieren. Dadurch kann aber auch die Menge der Fans, die in den
  Mittelblock stürmt, nicht mehr kontrolliert werden. Dies führt unter anderem dazu, dass der Mittelblock voll, ein
  Seitenblock – durch Zäune vom Mittelblock getrennt - jedoch noch halb leer ist.</p>

<p>Die Unachtsamkeit führt dazu, dass mehrere hundert Fans gegen den Zaun am Spielfeldrand gedrückt oder einfach
  niedergetrampelt werden. Da das Spiel inzwischen schon begonnen hat, wird die Tragödie zunächst von niemandem sonst
  bemerkt. Erst als Zuschauer beginnen, in Todesangst über den Zaun zu klettern, unterbricht der Schiedsrichter in
  Absprache mit der Polizei in der sechsten Spielminute die Begegnung. Am Ende sind 96 Menschen tot und 766 Verletzte zu
  beklagen.</p>

<p>Pikant: Als bereits Fans gegen den Zaun gedrückt werden, lassen die Ordnungskräfte die Tore zum Spielfeld nicht
  sofort öffnen. Auch später, nachdem die Tore geöffnet wurden, hindern die Ordnungskräfte die Fans daran, weiter aufs
  Spielfeld vorzudringen und so den Stau abzubauen.</p>

<p>Das Unglück trug nach einer Untersuchung und dem abschliessenden Bericht langfristig dazu bei, dass es heute in den
  meisten englischen Stadien nur noch Sitzplätze und keine Zäune mehr gibt. Das Stehplatzverbot wurde zunächst in
  England eingeführt und später auch für internationale Spiele übernommen.</p>

<p>Bereiche im Zielkonflikt: Zutrittskontrolle, Fluchtwege, Evakuation, persönliche Sicherheit.</p>

<h2>Düsseldorf</h2>

<p>Am 11. April 1996 kommt es am Flughafen Düsseldorf zu einem Brandunglück, bei dem 17 Menschen sterben und 88 weitere
  verletzt werden. Ursachen sind die unerlaubte Verwendung von Schaumpolystyrol bei der Isolierung der Zwischendecken
  und das Missachten von Brandschutzvorschriften bei Schweissarbeiten. Ausserdem sammelte sich auf den Belüftungskanälen
  eine grosse Menge Staub an, über den sich das Feuer schnell in alle Richtungen ausbreiten kann. Gründe für die vielen
  Todesopfer sind unter anderem das Fehlen von Brandschutztüren und die Verteilung der Rauchgase durch die
  Klimaanlage.</p>

<p>Pikant: Während des fünf Jahre dauernden Hauptprozesses kommt heraus, dass damals aus Kostengründen nicht ausreichend
  brandsichere Baustoffe verwendet wurden, der bauliche Brandschutz vernachlässigt und keine Sprinkleranlage eingebaut
  worden war. Zudem gibt es keine Brandsicherheitswache bei den Schweissarbeiten, Klimaanlage und Fahrstühle werden zu
  spät stillgelegt, der erste Löschzug erscheint erst 20 Minuten nach dem Feueralarm am Brandort.</p>

<p>Viele Experten kritisieren in der Folge, der Schutz vor Terroranschlägen sei auf Flughäfen viel detaillierter
  geregelt als der Brandschutz. Zum Teil würden sich die Anforderungen von Safety und Security sogar direkt
  widersprechen. In einer Lounge der Air France kommen in Düsseldorf acht Menschen vor allem deshalb um, weil der Raum
  mit bruchfestem Panzerglas gesichert ist, durch das es kein Entkommen gibt.</p>

<p>Bereiche im Zielkonflikt: Zutrittskontrolle, Einbruchschutz, Fluchtwege, Evakuation, Finanzen,
  Brandschutzmassnahmen.</p>

<h2>Argentinien und Paraguay</h2>

<p>Im Dezember 2004 kommen 175 Menschen in einem überfüllten Nachtclub in Buenos Aires ums Leben, 619 werden verletzt.
  Ein Feuerwerkskörper setzt die mit Schaumstoff isolierte Decke in Brand. Es bricht Panik aus. Fluchtwege sind
  versperrt, die Menschen werden durch das Einatmen des Rauches ohnmächtig und können nicht mehr fliehen.</p>

<p>Nur wenige Monate zuvor sterben während einem Brand in einem Supermarkt in Paraguay fast 400 Menschen. Der
  Ladenbesitzer verriegelt nach dem Ausbruch eines Feuers alle Türen, um Plünderungen zu verhindern.</p>

<p>Bereiche im Zielkonflikt: Finanzen, Diebstahlschutz, Fluchtwege, Evakuation, Brandschutzmassnahmen</p>.

<h2>Fazit</h2>

<p>Nicht immer müssen Zielkonflikte so dramatisch enden. Sie finden sich auch im Kleinen: Bricht in der Stiftsbibliothek
  des Klosters St. Gallen ein Feuer aus, ist es ganz wichtig, die dort gelagerten Werte zu schützen. Mit einer
  Sprinkleranlage kann man Feuer erfolgreich löschen, doch sind die Bücher am Ende vielleicht genauso zerstört wie wenn
  sie verbrannt worden wären.</p>

<p>Besonders in der Arbeitssicherheit sind die finanziellen Mittel oft ein Thema. Das Fehlen von solchen oder ganz
  einfach die Unverhältnismässigkeiten, welche sich unweigerlich hie und da ergeben, dürfen dennoch nicht umgangen
  werden. Selbstverständlich ist es unverhältnismässig, eine Hubarbeitsbühne anzuschaffen, um zwei Mal im Jahr die Birne
  der einen Lampe auswechseln zu können. Natürlich ist es nicht verhältnismässig, einen Stapler zu kaufen, um jedes
  zweite Jahr eine Prospektlieferung annehmen zu können. In vielen Fällen bietet sich aber nach einer genauen
  Betrachtung der Prozesse und einer konkreten Planung sogar die Möglichkeit, viele finanzielle Mittel einzusparen und
  damit für andere Dinge bereitzustellen. Oft kann eine höhere Effizienz erreicht werden. Auch mit konkreter
  Kommunikation. Der Lieferant der Prospekte kann nämlich darüber informiert werden, welche Ausrüstung vorhanden ist
  oder wie die Prospekte anzuliefern sind, damit ihr Entladen keine Gefahr darstellt. Und es gibt Arbeitsbühnen übrigens
  auch zur Miete. Selbst wenn die Organisation solcher Dinge unter Zeitdruck oft untergeht, macht sie sehr viel
  Sinn.</p>

<p>Das Fazit ist klar und eindeutig: Im Ereignisfall und im Zielkonflikt sind nur pragmatische Lösungen richtig
  erfolgreich. Einrichtungen die besondere Aufmerksamkeit erfordern dürfen nicht nur von einem Fachmann aus einem Gebiet
  beurteilt werden. Sie erfordern Gesamtkonzepte, die von Fachleuten aus den Bereichen Arbeitssicherheit, Brandschutz,
  Einbruchschutz und Intervention bestehen. Die Gefahrenquelle muss erkannt und analysiert werden, allfällige
  unumgehbare Risikostellen müssen kompensiert werden. Der Schulterschluss mit den Behörden ist bei grösseren
  Infrastrukturen unerlässlich.</p>

<p>Und es gilt die Erkenntnis: Mit einer professionellen Planung lassen sich die meisten (Folge-)Kosten von Unfällen
  oder Todesfällen einsparen und verhindern.</p>

<p>Roman Müller ist Geschäftsführer der MPS Müller Projects & Services GmbH, Arbeitssicherheit, Brandschutz und
  Schulungen.</p>

<p>Stefan Kühnis ist Chefredaktor von Safety-Plus.</p>
