---
layout: 'default'
title: 'Arbeiten auf der Strasse'
---

<h1>Arbeiten auf der Strasse</h1>

<h2>Autobahn</h2>

<p>Die einen sorgen für sichere und betriebsbereite Strassen und Autobahnen. Die anderen sind schnellstmöglich vor Ort,
  wenn ein Unfall geschehen ist. Während Mitarbeitende von Strassenunterhaltsdiensten und Interventionskräften diese
  Aufgaben erfüllen, setzen sie sich grossen Gefahren aus. Und die gehen meistens von ihren Kunden aus.</p>

<p><i>Von Stefan Kühnis</i></p>

<p>Die Gefahrenlandschaft von Mitarbeitenden im Strassenunterhalt ist breit. Einerseits bieten ihre Tätigkeiten an sich
  schon gewisse Risiken: Sie arbeiten mit Maschinen und Werkzeugen, teils in unebenem Gelände und oft an
  unterschiedlichen Aufgaben. Wer beispielsweise für Forstarbeiten eingesetzt wird, setzt sich auch den entsprechenden
  Gefahren eines Forstarbeiters aus. Natürlich gibt es für diese Tätigkeiten jeweils passende Persönliche
  Schutzausrüstungen.

<p>„Der grösste Unsicherheitsfaktor auf der Strasse ist aber der Autofahrer“, weiss Andreas Sigrist, Leiter Einkauf und
  Logistik sowie SiBe der NSNW AG. Die Firma wurde von den Kantonen Aargau, Basel-Land und Solothurn gegründet und sorgt
  für sichere und betriebsbereite Strassen in diesen Regionen. „Wir können alles Mögliche unternehmen, aber das
  Verhalten des Autofahrers können wir nicht kontrollieren. Liessen sich die Strassen konsequent sperren, würde die
  grösste Gefahr verschwinden“, sagt Sigrist, „aber das ist mit Staus und Umfahrungen verbunden, die neue Risiken
  schaffen. Und schliesslich sind die Autofahrer auch unsere Kunden. Wir arbeiten vor allem dafür, Gefahren für diese
  Verkehrsteilnehmer aus dem Weg zu räumen.“

<h2>Feuerwehr-Einsatz</h2>

<p>Roman Müller ist selbständiger Berater für Notfallmanagement, Arbeitssicherheit und Brandschutz. Zudem ist er
  Offizier und Ausbildner in der Feuerwehr. Schon oft wurde er zu Notfällen auf den vielbefahrenen Autobahnen gerufen.
  „Grundsätzlich ist die Autobahn für uns einer der gefährlichsten Einsatzorte“, bestätigt Müller. „Man will sie nicht
  sperren. Wenn wir die Strecke irgendwo unterbrechen, haben wir innerhalb von zwei Minuten einen Stau. Nach einer
  Viertelstunde rechnen wir bereits mit einer Kolonne von mehreren Kilometern.“ Man beschränkt sich also auch während
  einem Feuerwehreinsatz auf die nötige Spur und versucht diesen Bereich optimal abzusperren. „Wir stellen Prellböcke in
  Form von Fahrzeugen mit Signalen auf, damit die Autofahrer die Spur wechseln“, erklärt Müller. „Das funktioniert ganz
  gut. Wenn nicht, sind die Prellböcke genug weit weg, dass unsere Mitarbeitenden noch geschützt sind. Aber auf der
  Seite sind wir verwundbar. Wir stellen Verkehrsleitkegel auf und versuchen wenn möglich ein zusätzliches Band zu
  spannen, um eine Art Kanal zu schaffen und die befahrene von der gesperrten Spur optisch deutlicher zu trennen.“</p>

<h2>Organisatorische Massnahmen</h2>

<p>Die Zeit für solche organisatorischen Massnahmen nimmt sich die Feuerwehr. „Das ist eine alte Regel“, sagt Müller,
  „zuerst kommt auch für uns die eigene Sicherheit.“ Mehr Zeit dafür haben die Mitarbeitenden des Strassenunterhaltes.
  Dabei unterscheidet sich der Aufwand für einen zweistündigen Einsatz deutlich von einer eintägigen oder mehrwöchigen
  Baustelle. Samuel Dürrenberger ist Leiter Integrale Sicherheit der NSNW AG und präzisiert: „Wenn wir beispielsweise
  ein defektes Signal reparieren müssen, sind die einfacheren Mittel mit Prellböcke oder Aufpralldämpfer angebracht.
  Eine grosse Baustelle können wir seitlich auch mit massiven Betonelementen und ähnlichem sichern. Die seitlichen
  Begrenzungen bieten doch eine deutlich höhere Sicherheit für die Mitarbeitenden. Wir befinden uns hierbei aber immer
  auf einer Gratwanderung. Die Frage ist, wie viel Aufwand wir überhaupt tragen können und inwiefern mechanische
  Sicherheitsmassnahmen allenfalls neue Gefahren für die Verkehrsteilnehmer schaffen.“</p>

<p>Sigrist und Dürrenberger prüfen laufend neue Möglichkeiten und Ideen. „Ein Beispiel ist eine eher neuartige Maschine,
  welche Warnkegel automatisch setzt. Die ist teuer, reduziert aber die Aufenthaltsdauer der Mitarbeitenden am
  gefährlichen äusseren Rand der zu sperrenden Spur“, erklärt Andreas Sigrist. „Gerade für längere Strecken lohnt sich
  der Einsatz. Trotzdem: Wenn ein Automobilist plötzlich einnickt oder sonst wie von der Spur gerät, wird es gefährlich.
  Da hilft auch diese Maschine nicht.“</p>

<h2>Schulen und ausrüsten</h2>

<p>„Unsere Mitarbeitenden bewegen sich in einem gefährlichen Bereich und das wissen sie. Wir schulen sie diesbezüglich
  und erinnern sie immer wieder daran“, sagt Sigrist. „Jährlich gibt es einen Tag Kurs ganz im Zeichen der
  Signalisierung. Für neue Mitarbeitende gehört die Arbeitssicherheit zur Grundschulung. Sie sind also gut vorbereitet.“
  Auch auf eine qualitativ hochwertige Persönliche Schutzausrüstung können sie zählen. „Wir scheuen da keine Kosten,
  sofern wir einen Nutzen sehen“, sagt Sigrist. „Unsere Mitarbeitenden sind sich dessen auch bewusst und tragen die PSA
  konsequent. Wir haben in dieser Beziehung gar keine Probleme.“

<p>Auch die Feuerwehr schult ihre Stützpunkt-Einsatzkräfte für Situationen und Szenarien auf der Autobahn. „Diese Kurse
  sind für Stützpunkte mit Autobahnaufgaben obligatorisch“, sagt Müller. „Ortsfeuerwehren werden hingegen, gemäss
  gültigem Konzept der GVZ (Gebäudeversicherung Kanton Zürichs), nicht oder nur in absoluten Ausnahmefällen, wie zum
  Beispiel für kleine Teilabschnitte wie Ausfahrten etc. zu Einsätzen auf Autobahnen gerufen.“</p>

<h2>Psychische Belastungen</h2>

<p>Roman Müller weiss, dass Unfallmeldungen über Personenschäden auf Autobahnen kaum einen Feuerwehrmann kalt lassen.
  „Solche Meldungen sind immer ein Stressfaktor. Neben den bevorstehenden oft unschönen Bildern und komplizierten
  Arbeiten bietet die Autobahn weitere schwere Bedingungen: Ungeduldige Autofahrer kommen plötzlich auf dem
  Pannenstreifen daher. Ein Feuerwehrmann tritt unvermittelt zu weit auf die befahrene Spur hinaus. Gaffer auf der
  Gegenfahrbahn verursachen neue Staus oder gar neue Unfälle. Für Interventionskräfte dauern Einsätze auf der Autobahn
  zudem verhältnismässig lange. Die Wettereinflüsse können extrem sein: Hitze im Sommer, Kälte im Winter. Schneemaden
  können Unfallorte schwer erreichbar machen. Der Lärm ist enorm, die Verständigung schwer. Es gibt Emissionen,
  Gummiabriebe, Abgase oder herumfliegende Kieselsteine und ähnliches.“</p>

<p>Fälle von Autofahrern, die in Mitarbeitende des Strassenunterhalts oder zumindest in entsprechende Baustellen fahren,
  gibt es leider immer wieder und viel zu oft. Die Einen sind betrunken oder stehen unter Drogeneinfluss. Andere sind
  abgelenkt und anderweitig beschäftigt. Dritte überkommt ein Sekundenschlaf. Und einige haben die Baustelle einfach
  nicht gesehen. „Wenn so etwas geschieht, versuchen wir unsere Mitarbeitenden sofort zu informieren“, sagt
  Dürrenberger. „Die Medien sind sehr schnell. Hört ein Mitarbeitender oder ein Angehöriger eine solche Meldung, ist die
  Sorge schnell gross, es handle sich um einen Bekannten. Deshalb ist eine rasche Information wichtig. Die
  Mitarbeitenden können sich an uns wenden, wenn sie Fragen dazu haben. Sie sind auch angehalten uns zu informieren,
  wenn sie eine andere Situation oder Baustelle für unsicher halten.“</p>

<p>Direktbetroffene können auf ein externes Care Team zählen. „Wir haben zudem mit einem Beratungsbüro einen halbtägigen
  Kurs durchgeführt, wie wir in einem solchen Fall reagieren sollten“, erzählt Sigrist. „Wir schulen nun die
  Gruppenleiter darin. Es geht um grundsätzliche Dinge, beispielsweise dass geschockte Mitarbeitende von der
  Unfallstelle weggeleitet werden und sich an einem ruhigen Ort erholen können.“</p>

<h2>Der Dank</h2>

<p>Dafür dass sie Unfallopfer retten und die betroffenen Strassenabschnitte sichern, früh morgens unseren Arbeitsweg von
  Schnee befreien, gefährliche Bäume fällen und ganz allgemein für sichere und betriebsbereite Strassen sorgen, erhalten
  weder die Einsatzkräfte der Feuerwehr noch die Mitarbeitenden des Strassenunterhaltsdienstes besonders viel
  Dankbarkeit. Im Gegenteil: „Die Nerven unter Autofahrern liegen offenbar blank“, sagt Andreas Sigrist. „Schimpfwörter
  sind an der Tagesordnung. PET-Flaschen und Gegenstände aller Art werden geworfen. Ein Mitarbeitender erzählte kürzlich
  sogar, dass er angespuckt wurde.“</p>

<p>Und dann bleiben ja noch immer die normalen Gefahren.</p>
