---
layout: 'default'
title: 'Arbeitssicherheit und Gesundheitsschutz in der Praxis'
---

<h2>Arbeitssicherheit und Gesundheitsschutz in der Praxis</h2>

<p>Die bisherige ASA-Richtlinie Nr. 6508, welche seit 10 Jahren gültig ist und den Beizug von Arbeitsärzten und anderen
  Spezialisten der Arbeitssicherheit regelt, ist revidiert und am 1. Februar 2007 in Kraft gesetzt worden. Das Ziel der
  neuen Richtlinien ist, kleine und mittlere Unternehmen in diesem Bereich zu entlasten und die Handhabung zu
  vereinfachen.</p>

<p>Die Beizugsrichtlinie 6508 der EKAS (Eidgenössische Koordinationskommission für Arbeitssicherheit) für den Beizug von
  ASA (Arbeitsärzten und anderen Spezialisten der Arbeitssicherheit) wurde revidiert. Ist diese nun einfacher in der
  Handhabung geworden und erspart sie wirklich administrativen Aufwand? Oder birgt sie etwa die Gefahr, dass im Bereich
  Arbeitssicherheit nun gar nichts mehr gemacht wird? Oder ist die administrative Lockerung der Ansporn für die
  praktische Umsetzung ohne eine Formvorschrift für den Nachweis der Sicherheitsorganisation? Der Ansatz und die
  Überschriften klingen verlockend: Vereinfachen, entlasten, Kosten einsparen und als zentraler Bestandteil die
  Reduktion von Unfällen.</p>

<h2>Neuerungen</h2>

<p>Seit 1. Februar 2007 ist die revidierte Richtlinie nun in Kraft, bei der laut EKAS alle Erfahrungen der letzten Jahre
  eingeflossen sind und helfen sollen, eine praxisnähere Umsetzung sicherzustellen. Verschiedenste Vertreter von
  Berufsgruppen von Arbeitnehmern und Arbeitgebern wurden miteinbezogen. EKAS-Präsident Dr. Ulrich Fricker: «Die
  vereinfachten Bestimmungen werden zehntausenden Betrieben Erleichterungen bringen. Die verfügbaren Mittel können so
  dort eingesetzt werden, wo sie den grössten Nutzen bringen und dafür sorgen, dass die Unfallzahlen sinken. Deshalb
  erwarten wir von der revidierten Richtlinie einen neuen Schub zur Förderung von Arbeitssicherheit und
  Gesundheitsschutz.»</p>

<p>Zur Eingliederung des Betriebes wird nun die Mitarbeiterzahl zusammen mit dem Gefahrenpotenzial betrachtet und
  entschieden, welche administrativen Massnahmen wie Aufbau eines Sicherheitssystems oder der Beizug von
  Arbeitssicherheitsspezialisten erforderlich ist. Wenn das Fachwissen bezüglich der Arbeitssicherheit und
  Gesundheitsschutzes in einem Betrieb nicht vorhanden ist und besondere Gefahren vorkommen, müssen die ASA-Spezialisten
  beigezogen werden.</p>

<p>Für kleinere Betriebe mit besonderen Gefahren heisst dies nun, dass mit weniger als 10 Mitarbeitenden kein
  Sicherheitssystem mehr erforderlich ist, sondern mit einfachen Mitteln wie z.B. Checklisten die Gefahren ermittelt und
  die erforderlichen Massnahmen eingeleitet werden können, die schliesst den Beizug von ASA-Spezialisten aber nicht
  vollständig aus. Vor der Revision der Richtlinie musste auch in einem solchen Fall ein Sicherheitssystem aufgebaut
  werden.</p>

<p>Für Betriebe ohne besondere Gefahren gilt dies bis 50 Mitarbeitende. Das heisst natürlich nicht, dass jetzt nichts
  mehr gemacht werden muss. Die Betriebe sind gemäss UVG nach wie vor verpflichtet, den Vorschriften für
  Arbeitssicherheit und Gesundheitsschutz einzuhalten. Sie dürfen lediglich in der Administration den einfacheren Weg
  wählen.</p>

<h2>Auswirkungen der Revision für die Betriebe</h2>

<p>90% der KMUs in der Schweiz beschäftigen zwischen 1-20 Mitarbeitende. Für die meisten dieser Betriebe hat die
  revidierte Richtlinie Vorteile, indem sie im administrativen Bereich entlastet werden. Die
  Regulierungsfolgenabschätzung im Auftrag des Bundesrats hat genau dies ergeben. Verglichen wurden die Kosten von den
  Auswirkungen dieser Richtlinie, mit den zu erwartenden Gewinnen durch niedrigere Unfallzahlen in den Betrieben.</p>

<p>Eigentlich kann man als Folgerung sagen, dass die Richtlinie an die gängige Praxis angepasst wurde und somit auch
  eine gewisse Rechtssicherheit wieder hergestellt wurde. Wichtig für die Betriebe ist, dass rechtzeitig Gefährdungen
  erkannt und systematisch Massnahmen definiert werden, dies als unbedingte Pflichten gegenüber den Mitarbeitenden.
  Nicht zu vergessen ist aber auch die Absicherung gegenüber straf- und zivilrechtlichen Folgen. Ferner geht es darum,
  Regressforderungen von Versicherungen möglichst auszuschliessen, die für kleine und mittlere Betriebe ruinös sein
  können.</p>

<p>In der Vergangenheit hat sich bewährt, dass sich die Betriebe von Spezialisten der Arbeitssicherheit beraten liessen
  und nicht allein gelassen wurden. Diese Investition lohnt sich sicherlich auch weiterhin, da der Beizug von
  Arbeitssicherheitsspezialisten nach wie vor gewährleistet sein muss. Es besteht natürlich auch die Möglichkeit, den
  Beizug mittels anerkannter Checklisten und Merkblätter (zum Beispiel von der SUVA) selber zu organisieren, was sich
  aber aufgrund der Effizienz als eher schwierig gestaltet.</p>

<h2>Kurzinterview zum Thema: Fragen des SMM an Roman Müller, Geschäftsführer MPS</h2>

<h5>Wie ist die Rollenverteilung zwischen EKAS und SUVA im Bereich Arbeitssicherheit?</h5>

<p>EKAS ist die Eidgenössische Koordinationskommission für Arbeitssicherheit, die Versicherungsunabhängig die
  Anliegen der Arbeitssicherheit und des Gesundheitsschutzes koordiniert und betreut. Hingegen ist die SUVA der
  grösste Unfallversicherer, bei dem handwerkliche und gewerbliche Branchen versichert sein müssen und stelle
  gleichzeitig als öffentlich rechtlich Anstallt den Vollzug der Aufsichtbehörde sicher. Dies in Zusammenarbeit und
  Aufteilung mit den Arbeitsinspektoraten des Bundes und der Kantone.</p>

<h5>Wo liegen die eigentlichen Gefahrenpotenziale bzw. welche hauptsächlichen Mängel bezüglich Arbeitssicherheit und
  Gesundheitsschutz stellen Sie in Betrieben fest?</h5>

<p>In den Betrieben wird oft nicht systematisch nach Gefahren gesucht und es werden die nötigen Massnahmen nur
  selten mit System abgearbeitet, denn wenn wir die Gefahren nicht erkennen, werden wir von diesen überrascht werden
  und können somit auch keine gezielten Massnahmen definieren und umsetzen, um Unfälle zu vermeiden.</p>

<p>Die Betreibe sind sich auch der Ausfallkosten von 600.- bis 1000.- CHF pro Tag von Ihren Mitarbeitenden nicht
  bewusst, ansonsten würden diese alles unternehmen um solch teure Ausfalltage zu vermieden, bei denen nur ein
  kleiner Teil versichert ist.</p>

<h5> Wie kommen den solch hohe Ausfallkosten überhaupt zu Stande?</h5>

<p>In den ersten 3 Tagen (Karrenzfrist) muss der Arbeitsgeber den Lohnausfall selber decken, anschliessend übernimmt
  in den meisten Fällen die Taggeldversicherung den Lohn des Mitarbeitenden zu 80% sowie einen grossen Teil der
  Heilungskosten. Darin nicht beinhaltet sind aber für den Betrieb die Sachschäden durch den Unfall,
  Ersatzmitarbeiter die eingeführt werden müssen, Terminverspätungen, Zeitverlust, Auftragsverlust, Störungen im
  Betriebsablauf. Image-Schaden etc.. Folglich sind die täglichen Kosten meist noch höher, werden aber nicht dem
  Unfallereignis zugeschrieben oder ausgewiesen. In den meisten Betrieben herrscht keine Kostentransparenz und es
  werden somit falsche Annahmen getroffen.</p>

<h5>Ihre Firma MPS ist spezialisiert auf Arbeitssicherheit, Brandschutz und Schulungen. Was konkret können Sie
  interessierten Firmen an Dienstleistungen anbieten?</h5>

<p>Wir stellen den Beizug der Spezialisten der Arbeitssicherheit für verschiedenste Branchen sicher und helfen den
  Betrieben, ihre Arbeitssicherheit und den Gesundheitsschutz systematisch zu organisieren. Wir bieten auch
  Schulungen an, um die vorgeschriebene Ausbildung von Mitarbeitern im Bereich Arbeitssicherheit und Brandschutz zu
  gewährleisten. Neu führen wir auch von der SUVA akkreditierte Kurse und Grundlagenschulungen durch.</p>

<h5> Wie ist das Vorgehen, wenn eine Firma sich in Sicherheitsfragen an Sie wendet?</h5>

<p>Eine Standortbestimmung muss am Anfang erstellt werden um zu sehen, was alles schon gemacht wurde und einen
  Gesamteindruck zu bekommen, damit man anschliessend nach Prioritäten vorgehen kann. Dies Erfolgt meist mit einem
  Sicherheitsrundgang und systematischer Befragung auf die ein Bericht mit einer ersten Massnahmenplanung folgt.
  Anschliessend wird definiert, ob ein Sicherheitssystem nach EKAS (10 Kapitel) erforderlich ist, oder ob wir dies
  mit einfachen Mitteln abdecken können. Selbstverständlich kann das Vorgehen auch anders sein, je nach dem
  Kundenwunsch versuchen wir die für Sie optimale Lösung zu finden. Über eine Kontaktaufnahme würden wir und freuen,
  damit wir die für Sie passende Lösung suchen könnten.</p>

<h5> Wo finden sich weitere Informationen zu den im Beitrag angesprochenen Bereichen?</h5>

<p>Wichtige Adressen, die weiterhelfen können, sind:
  <a href="http://www.mps­arbeits­sicherheit.c" target="_blank">www.mps­arbeits­sicherheit.ch</a>,
  <a href="http://www.ekas.ch" target="_blank">www.ekas.ch</a> und
  <a href="http://www.suvapro.ch" target="_blank">www.suvapro.ch</a>.
</p>

<p>SMM, August 2007, MPS</p>
