---
layout: 'default'
title: 'Arbeitssicherheitssystem und der optimale Nutzen'
---

<h1>Arbeitssicherheitssystem und der optimale Nutzen</h1>

<p>Die systematische Ermittlung von Gefahren und das Organisieren der Arbeitssicherheit ist für jeden Betrieb ein
  zentrales, meist vorgeschriebenes Element, das sich kein Betrieb erlauben kann ausser Acht zu lassen.</p>

<div class="row panel">
  <div class="large-3 columns">
    <%= image_tag('checklist.png') %>
  </div>
  <div class="large-9 columns">
    <ul>
      <li>Was müssen wir eigentlich bezüglich Arbeitssicherheit unternehmen?</li>
      <li>Ist die Arbeitssicherheit bei uns systematisch organisiert?</li>
      <li>Ist ein AS-System zwingend? Kosten / Nutzen? Wie können wir davon profitieren?</li>
      <li>Dies sind die Häufigsten Fragen in Zusammenhang mit einem AS-System, die es zu klären gilt.</li>
    </ul>
  </div>
</div>

<h2>Geschichte</h2>

<p>In der Vergangenheit der Arbeitssicherheit und des Gesundheitsschutzes hat sich gezeigt, dass diese Aspekte nur dann
  erfolgreich angewendet werden konnten, wenn eine Systematik deren zu Grunde stand. Die Zeiten die bei denen die
  Arbeitssicherheit auf die Schutzbrille und die Sicherheitsschuhe reduziert wurden gehören definitiv der Vergangenheit
  an. Es wurde vermehrt erkannt, dass das Wohlbefinden vom Mitarbeitenden, die Unfall- und Krankheitsausfälle, die
  Produktivität einen direkten Zusammenhang aufweisen, dem es vermehrt Beachtung zu schenken sich lohnt. Mit der so
  genannten ASA-Richtlinie EKAS 6508 (ASA = Arbeitsärzte und andere speziellsten der Arbeitssicherheit, heute die
  Abkürzung für systematisch organisierte Arbeitssicherheit), wurden die Betriebe aufgefordert per 01.01.1996, mit einer
  Übergangsfrist bis am 01.01.2000 die Arbeitssicherheit in Eigenverantwortung, systematisch zu organisieren und zu
  dokumentieren.</p>

<h2>Was das Arbeitssicherheitssystem effektiv ist?</h2>

<p>Die generellen Bausteine des Arbeitssicherheitssystems sind nach der Definition der SUVA die folgenden:</p>

<ol>
  <li>Sicherheitsleitbild, Sicherheitsziele: Stehen am Anfang jeder Verbesserung</li>
  <li>Sicherheitsorganisation: Regelt die Aufgaben und Kompetenzen</li>
  <li>Ausbildung, Instruktion, Information: Befähigen zu richtigem Handeln</li>
  <li>Sicherheitsregeln: Setzen die Leitplanken</li>
  <li>Gefahrenermittlung, Risikobeurteilung: Zeigt auf, wo es gefährlich ist</li>
  <li>Massnahmenplanung und -realisierung: Eliminiert oder reduziert die Gefahren</li>
  <li>Notfallorganisation: Hilft den Schaden zu minimieren</li>
  <li>Mitwirkung: Heisst, die Betroffenen zu Beteiligten zu machen</li>
  <li>Gesundheitsschutz: Wird oft vernachlässigt, z.B. Berufskrankheiten</li>
  <li>Kontrolle, Audit: Überprüft, ob die gesetzten Ziele erreicht wurden</li>
</ol>

<h2>Gesetzliche Vorschriften?</h2>

<p>Die Verantwortung für Arbeitssicherheit und Gesundheitsschutz liegt wie bis anhin gemäss Unfallversicherungsgesetz
  (UVG, Art. 82) und Arbeitsgesetz (ArG, Art. 6) bei der Unternehmensleitung. Diese ist verantwortlich, dass der Schutz
  des Mitarbeiters systematisch organisiert ist, eine Delegation von Aufgaben ist zulässig, entbindet aber in keinem
  Falle von der Verantwortung des Vorgesetzten und der Geschäftsleitung. Alle Betriebe mit mehr als 5 Mitarbeitenden und
  einem Prämiensatz UVG von 0,5% und mehr, müssen die Aktivitäten im Bereich Arbeitssicherheit nachweisbar und
  systematisch organisieren sein. Hierbei spricht man von der EKAS Richtlinie 6508, die den Beizug der
  Arbeitssicherheitsspezialisten regelt. Ein Speziallist der Arbeitssicherheit muss bei Betrieben mit besonderen
  Gefahren beigezogen werden, dies können folgende sein: Einsatz von Lösungsmitteln, Druckluft, Feuergefährlichen und
  Gesundheitsgefährdende Stoffe etc.. Der Sinn des Beizuges der Arbeitssicherheitsspezialisten stellt das nötige
  Hintergrundwissen zu Verfügung, damit auch die besonderen, versteckten Gefahren entdeckt und die richtigen Massnahmen
  getroffen werden können. Ein Beispiel dafür wäre die Kettensäge, es ist offensichtlich, dass diese schneidet und man
  einen Schnittschutz tragen muss, diese birgt aber noch mehr Gefahren wie z.B. das einatmen der Abgase, die
  Lärmbelastung, starke Vibrationen. Nicht zuletzt muss auch sichergestellt werden, dass neue Massnahmen nicht auch neue
  Gefahren mit sich bringen und somit kontraproduktiv ausfallen.</p>

<h2>Kosten / Nutzen?</h2>

<p>Der Nutzen ist ganz klar in der Verhütung von Unfällen und Krankheiten anzuordnen.<p>

<p>Statistisch gesehen kostet ein Tag Arbeitsausfall eines Mitarbeitenden den Betrieb zwischen 600 - 1’000.- CHF direkte
  & indirekte Kosten zusammen, direkte Kosten: Versicherungsprämie, Prämienerhöhung, Regressforderungen etc. & indirekte
  Kosten: Fertigungsausfall, Ersatzarbeitskraft, defektes Material. Neben der Verpflichtung alles zu unternehmen für den
  Schutz des Mitarbeiters, was nach der Erfahrung nötig, dem Stand der Technik und den Verhältnissen entsprechend ist,
  kann eine Vermeidung von Ausfalltage sich sehr Positiv auf die Kostenstruktur auswirken. Häufig dauern Arbeitsausfälle
  wegen eines Unfalles (Bagatellunfall) bis zu 3 Tagen, wenn wir den Tag mit 1’000.- CHF annehmen sind dies 3’000.- CHF,
  die richtige Schutzausrüstung hätte eventuell aber „nur“ 200.- CHF gekostet.</p>

<p>Nicht zu unterschätzen ist sicherlich auch der Effekt, dass sich die Mitarbeiter wohl und motiviert fühlen, in einem
  System, dass für diese viele Vorteile bringt und somit auch für den Arbeitgeber ein wichtiger Erfolgsfaktor ist.</p>

<h2>Möglichkeiten der Umsetzung</h2>

<p>Bezüglich der Umsetzung stehen natürlich verschiedene Wege offen, oft ist es sinnvoll, wenn man sich einer so
  genanten Branchenlösung anschliesst, da Betriebe in der gleichen Branche oft auch ähnliche Probleme und Anliegen
  haben.</p>

<p>Es besteht auch die Möglichkeit eine Individuelle Lösung mit einem so genannten ASA- Spezialisten /
  Sicherheitsfachmann zu erarbeiten, der Vorteil hier ist sicherlich, dass diese speziell für den Betriebe entwickelt
  und angepasst wird und eher durch dies Zustimmung findet.</p>

<p>Neu gibt es auch ein „ASA kompakt“ für Kleinbetriebe, dass die Arbeitssicherheit versucht in 5 Schritten aufzubauen.
  Diese sind:<p>

<ul>
  <li>Sich zu Arbeitssicherheit bekennen</li>
  <li>Richtiges verhalten im Notfall anweisen</li>
  <li>Gefahrenquellen im Betrieb erfassen – Unterlagen beschaffen</li>
  <li>Massnahmen erkennen - treffen – planen</li>
  <li>Dokumentieren und kontrollieren, Massnahmen, Ausbildung, Wartungspläne, Unfälle und Krankheiten</li>
</ul>

<p>Der Sinn dieses Kurkonzeptes ist es, für die Kleinbetriebe ein einfacheres Instrument zur Verfügung zu stellen, damit
  betriebe ohne besondere Gefahren die Arbeitssicherheit auf einer einfachen Basis organisieren können.</p>

<p>Neu ist auch die Kampagne für das Label ASA-Inside von den Arbeitsinspektoraten und der EKAS (Eidgenössische
  Koordinationskommission für Arbeitssicherheit), dies ist eine Auszeichnung für Betriebe, die sich im Bereich
  Arbeitssicherheit einsetzen und diese systematisch organisiert haben in Ihrem Betrieb. Es besteht auch die Möglichkeit
  mit dieser Auszeichnung zu werben. Mehr dazu unter www.asa-inside.ch.</p>

<h2>Schlussfolgerung</h2>

<p>Abschliessend kann man zusammenfassen, dass sich der Einsatz eines Arbeitssicherheitssystems auf jedenfalls lohnt
  und das die Anfänglichen Investitionen im Verhältnis mit dem Nutzen als eher gering ausfallen, dies bedingt
  natürlich, dass man sich der Kostenwahrheit zuerst einmal bewusst wird. Es darf auch erfreulicher-weise
  festgestellt werden, dass mit einem Arbeitssicherheitssystem die Arbeitssicherheit zu einem nahezu selbstregelnden
  Kreis im Unternehmen wird, dies setzt natürlich eine Kontinuität voraus.</p>

<p>Die Firma MPS Müller Projects & Services GmbH ist spezialisiert auf Arbeitssicherheit und Schulungen. Sie stellt
  auch den ASA Beizug für verschiedenste Branchen sicher und hilft den Betrieben Ihre Arbeitssicherheit systematisch
  zu organisieren und macht in diesem Bereich auch Schulungen (Brandschutzkurse, Erste Hilfe, Instruktionen etc.).
  Über eine Anfrage Ihrerseits würden wir uns freuen und erörtern Ihnen gerne Ihre Möglichkeiten.</p>


<p>SMM, August 2006, MPS</p>
