---
layout: 'default'
title: 'Den Gefahren trotzen'
---

<h3>... und was machsch brueflich?</h3>
<h1>"Den Gefahren trotzen"</h1>

<p>Roman Müller (32), Betriebstechniker TS und selbständiger Unternehmer im Bereich Arbeitssicherheit, Brandschutz und
  Schulungen</p>

<h5>Worin bilden Sie sich weiter?</h5>

<p>Ich habe vor acht Jahren eine Weiterbildung zum Betriebstechniker TS bei der Schweizerischen Fachschule für
  Betriebstechnik in Dietikon gemacht. Dort holte ich mir das betriebswirtschaftliche Rüstzeug für meine heutige
  Geschäftstätigkeit. Am Anfang stand die Grundausbildung, die ich via Lehre als Maschinenmechaniker absolvierte.</p>

<h5>Sie haben eine eigene Firma?</h5>

<p>Ja, es war schon seit der Lehre , mein Wunsch, mich einmal selbständig zu machen. Im Jahre 2002 gründete ich dann die
  Firma MPS www.muellerps.ch in Zürich. Wir sind im Bereich Arbeitssicherheit, Brandschutz und Schulung tätig. Wir
  ermitteln systematisch die Gefahren, die in einem Betrieb lauem und bieten Schulungen zum Beispiel für
  Sicherheitsbeauftragte an und Beratung im Bereich Evakuation und Notfall. Unsere Kunden kommen hauptsächlich aus der
  Maschinenindustrie, aber auch aus dem Dienstleistungssektor.</p>

<h5>Sind denn Menschen, die arbeiten, ständig in Gefahr?</h5>

<p>Es ist die Aufgabe von Firmen, die für sie arbeitenden Personen zu schützen, denn die Gesundheit ist das wertvollste
  Gut. Nehmen wir das Beispiel einer Kettensäge. Die Gefahr, sich damit ins Bein zu schneiden, ist offensichtlich. Es
  gibt aber noch andere Risiken: starke Vibrationen fürs menschliche Skelett, brennbare Flüssigkeiten, Abgas und Lärm.
  Das Wissen um diese Risiken kann helfen, tragische Schicksale zu vermeiden.</p>

<h5>Ist man in der Schweiz nicht übervorsichtig?</h5>

<p>Viele Unternehmen arbeiten in einem desolaten Zustand, auch hierzulande! Spätestens nach einem Unfall wollen Behörden
  und Versicherungen wissen, ob die Mitarbeitenden ausreichend ausgebildet waren. Ein Unfall löst nebst dem Sachschaden
  eine ganze Kette von Problemen aus: Terminverspätungen, Zeitverlust, Auftragsverlust, Störungen im Betriebsablauf und
  Imageschäden.</p>

<h5>Was macht eigentlich ein Betriebstechniker?</h5>

<p>Er ist für die bereichs- bzw. finnenübergreifende Betrachtung von Planungs-, Umsetzungs- und Regelungsfunktionen
  verantwortlich, welche den optimalen wirtschaftlichen Material- und Informationsfluss zum Ziel haben.</p>

<h5>Das tönt jetzt sehr technisch.</h5>

<p>Grundsätzlich ist er ein Generalist, welcher in den verschiedenen Leitungsfunktionen eines Unternehmens eingesetzt
  werden kann. Diese kann sich auf den Beschaffungs-, den Absatzmarkt oder den Dienstleistungssektor beziehen. Der
  Betriebstechniker kann Tätig~ keiten von der Planung, über Projektmanagement bis hin zur Geschäftsführung
  wahrnehmen.</p>

<h5>Und was haben Sie vor?</h5>

<p>Nach meinen Weiterbildungen als Sicherheits- und Brandschutzfachmann sowie als Erwachsenenbildner starte ich im
  Februar ein Nachdiplom in Betriebswirtschaft. Gleichzeitig bleibe ich der Schule als Dozent und Diplomexperte
  verbunden.</p>

<h5>Was macht mehr Spass, Lehren oder Lernen?</h5>

<p>Ich unterscheide diese Sparten nicht. Denn auch wenn man doziert, lernt man. Die Diplomanden geben mir immer wieder
  neue Anregungen und interessanten Input für eigene Ideen.

<p>Das sfb Bildungszentrum bietet Ausbildungen in den Bereichen Prozesse, Automation, Logistik, Management, Informatik
  und Technik. Die Lehrgänge orientieren sich an den Bedürfnissen der Wirtschaft. Sie schliessen alle mit einen eidg.
  Abschluss ab. Zum Markenzeichen der höheren Fachschule gehört die Praxisorientierung und damit die Sicherstellung der
  Aktualität des vermittelten Wissens. Die Ausbildungen werden in der ganzen Schweiz angeboten.</p>
