---
layout: 'default'
title: 'Ein toter Retter ist kein Retter'
keywords: 'Notfallorganisation, Suva Kurse, Arbeitssicherheit Kurse'
---

<h1>Ein toter Retter ist kein Retter</h1>

<p><i>Interventionskräfte sind immer bereit. Auch im Sturm, Hagel, in Hochwassergebieten, rund um Waldbrände und in
    vielen weiteren naturgegebenen Ausnahmesituationen. Wie sie sich dabei verhalten und worauf es zu achten gilt,
    erzählen drei Experten aus der Theorie und aus der Praxis.</i></p>

<p>Am 23. Juli 2013 ging über dem Kanton Obwalden und dem Flugplatz Kägiswil ein heftiges Gewitter nieder. «Alles war
    schwarz am Himmel», erzählt Stefan Schneider, Rettungssanitäter und Ausbildner im Rettungswesen. «Es ging eine
    Alarmmeldung ein: Flugzeug hart gelandet. Eine Person sei ausgestiegen. Also wurde ein Ambulanzfahrzeug
    losgeschickt. Auf dem Flugplatz fanden die Retter aber nichts. Doch gleichzeitig sahen sie die Feuerwehr in eine
    andere Richtung fahren und folgten ihr. Dort trafen sie auf einen schwer beschädigten Kleinflieger, der im Gelände
    abgestürzt war. Der Pilot und Flugschüler war schon tot, der Fluglehrer konnte nicht mehr erfolgreich reanimiert
    werden und starb auf der Unfallstelle.» Schneider war an jenem Tag noch nicht im Einsatz, kam erst am Abend zum
    nachfolgenden Dienst. Aber er weiss genau, was seine Kollegen erlebten: «Der Sturm war während der Rettung noch
    immer in vollem Gang, es schüttete wie aus Kübeln. Unser Material schwamm im Wasser und alle waren tropfnass. Die
    Rega konnte bei diesem Wetter natürlich keine Einsätze fliegen. Wir boten also Notärzte aus Luzern auf. Bis die
    Verstärkung eintraf, mussten unsere Rettungssanitäter schlicht warten – mit zwei Toten und einem Schwerverletzten,
    der schliesslich im Spital seinen inneren Verletzungen erlag.»</p>

<p>Neben dem heftigen Sturm erschwerten weitere Faktoren den Einsatz an jenem Sommertag. Denn Hart gelandet betraf einen
    anderen Fall. Für den Flugzeugabsturz ging gar nie eine Alarmierung ein. Hart gelandet stand bereits im Hangar, als
    die Ambulanz auf dem Flugplatz ankam. Deren Sirenen wurden aber weit herum gehört. Die Menschen dachten, sie
    beträfen den Absturz und eine Alarmierung wäre nicht mehr nötig. Ausserdem schlugen in denselben Minuten in
    unmittelbarer Nähe zur Absturzstelle und zum Flugplatz drei Blitze in drei Bauernhöfe ein. Die Feuerwehr war
    plötzlich an mehreren Orten gefragt – und das während einem schweren Sturm und in einer gewaltigen Natur, die
    einerseits Auslöser für die Einsätze war, sie andererseits aber auch massiv behinderte.</p>

<h2>Beispiel Polizei: die Lagebeurteilung</h2>

<p>Naturgefahren spielen in den Ausbildungen der Interventionskräfte heute noch keine grosse Rolle. «Während der Poli
    zeischule gibt es keine expliziten Schulungen zu diesem Thema», sagt Roger Besse, Fachbereichsleiter Sicherheit und
    Einsatztraining der Interkantonalen Polizeischule Hitzkirch. «Eigentlich verlangen wir das im Bereich der
    Lagebeurteilung. Zuerst studieren, die verinnerlichten Punkte ablaufen und selber nicht in Gefahr geraten. Als
    Erstes kommt immer die eigene Sicherheit.» Während der Ausbildung erhalten die Partnerorganisationen der Polizei –
    wie die Feuerwehr, die Sanität, der Zivilschutz und das Militär – ein Zeitfenster, ihre Organisation und deren
    Aufgaben vorzustellen. Dabei werden den Schülerinnen und Schülern auch die Schnittstellen zur Polizei
    aufgezeigt.</p>

<p>«In meiner Zeit bei der Stadtpolizei Luzern erlebte ich den einen oder anderen Sturm, als ich gerade auf Patrouille
    war», erzählt Besse. «Die halbe Stadt stand schon unter Wasser. Da wurden wir beispielsweise gerufen, wenn Bäume auf
    Autos stürzten und man Verletzte darin vermutete. Folglich machten wir eine erste Lagebeurteilung: Kommen wir auf
    sicherem Weg zum Auto? Geht vom umgestürzten Baum oder der Umgebung noch eine Gefahr aus? Wir verlangen bestimmt
    nicht, dass sich jemand in eine reissende Reuss wirft, um jemanden zu retten. In diesem Fall wird die Wasserpolizei
    aufgeboten und der Polizist sucht Hilfsmittel wie Rettungsstan- gen oder geeignete Eingriffsstellen, um das Opfer
    aus dem Fluss zu ziehen. Die getroffenen Massnahmen müssen verhältnismässig sein. Das heisst, sie müssen geeignet,
    erforderlich und zumutbar sein.»</p>

<p>Die Aufgaben der Polizei sieht Roger Besse neben dem Einleiten der ersten Sofortmassnahmen in grundlegenden
    Tätigkeiten wie dem Erstellen von Strassensperrungen und Umleitungen, der Kontrolle der Zufahrtswege zum Einsatzort
    und der Koordination der weiteren eintreffenden Hilfskräfte bis hin zur Gesamteinsatzleitung. Oberflächlich lernen
    zwar auch Polizeischüler, wie sie Personen retten oder Brände löschen können. Doch für die meisten Ereignisse wie
    beispielsweise Hochwasser ist die Polizei gar nicht ausgerüstet. Dann sind die Profis gefragt und es kommen schnell
    die Feuerwehr, die Berg- oder Wasserrettung oder auch die Rega ins Spiel, im schlimmeren Fall der Katastrophenschutz
    mit der Armee und dem Zivilschutz. Jeder erledigt seine Kernaufgaben.</p>

<p>«Wir setzen rund um die Lagebeurteilung viel auf die Eigenverantwortung und den gesunden Menschenverstand unserer
    Leute. Deshalb achten die Polizeikorps auch immer darauf, wenn möglich erfahrene mit jüngeren Polizisten auf
    Patrouille zu schicken. Besonders während Grossereignissen müssen die Jungen oft noch lernen, ihre Emotionen so weit
    zu kontrollieren, dass sie besser eine clevere Lösung suchen, anstatt etwas auf Biegen und Brechen zu versuchen und
    damit sich und andere zu gefährden», sagt Besse.</p>

<h2>Beispiel Rettungsdienst: der Patient im Mittelpunkt</h2>

<p>Was schon junge Menschen lernen, wenn sie ihr Rettungsschwimmer-Brevet absolvieren: Ein toter Retter ist kein Retter.
    Es gibt Situationen, in denen man nichts tun kann – so weh das tut, ganz besonders für Rettungssanitäter. «Wir alle
    wollen helfen. Doch es kann enorm gefährlich werden, wenn wir nur den Patienten im Mittelpunkt sehen und die
    Gefahren in der Umgebung nicht mehr wahrnehmen », betont Stefan Schneider. «Lose Felsbrocken, Lawinen, Bäume,
    ungesicherte Fahrzeuge, Flüssigkeiten, Kabel, Dunkelheit – es gibt viele Beispiele und leider gab es in der
    Vergangenheit auch solche, in denen Rettungskräfte starben. Zuerst muss man deshalb hinstehen, hinschauen und erst
    dann hingehen, wenn man die richtigen und sicheren Entscheidungen treffen kann.»</p>

<p>Dass er einen Patienten gar nicht erreichen konnte, erlebte Schneider bisher noch nie. Kollegen aber mussten im
    vergangenen Winter eine ganze Weile warten, bis sie zu einer Unfallstelle auf der Autobahn gelangen konnten. «In
    Richtung Uri wehte ein orkanartiger Schneesturm. Am Krankenwagen konnten sie nicht einmal mehr die Heckklappe
    öffnen, so stark stürmte es.»</p>

<p>Wenn das Wetter es zulässt, fliegt die Rega zu den unerreichbaren Stellen. In Gefahrenbereiche geht eher die
    Feuerwehr. «Als wir bei schlechtem Wetter auf einer Strasse nicht mehr weiterkamen, lief ich auch schon eine Stunde
    zu Fuss durch unwegsames Gebiet weiter. Natürlich haben wir als Bergrettungsdienst dafür entsprechende Ausrüstungen.
    Jeder Rettungssanitäter wird ausgebildet, wie er sich zu einem Patienten abseilen und ihn dort zwar nicht bergen,
    aber medizinisch versorgen kann. Wir haben Absturzsicherungen, Helme, Kletterausrüstungen und Ähnliches auf der
    Ambulanz bereit», sagt Schneider.</p>

<h2>Beispiel Feuerwehr: mehr Wasser als Feuer</h2>

<p>Roman Müller ist Sicherheitsfachmann und war früher in der Feuerwehr sowohl Offizier als auch Ausbildungschef und
    stellvertretender Kommandant. Vor rund 15 Jahren landete er nach einem Hochwassereinsatz im Spital. «Wir waren
    dabei, eine Tiefgarage auszupumpen. Während dem Auftanken der benzinbetriebenen Pumpe atmete ich zu viel
    Kohlenmonoxid ein. Ich lief noch selber aus der Garage und mir passierte zum Glück nichts», erzählt Müller. «Es kann
    während solchen Einsätzen sehr schnell geschehen, dass man mitten in einem völlig unerwarteten Problem steht. Nicht
    alles ist immer offensichtlich. Aber gerade aus dieser Geschichte haben wir viel gelernt, rund um das Verhalten
    einerseits, rund um die passenden Ausrüstungen und Geräte andererseits.»</p>

<p>In Sachen Hochwasser werden Feuerwehrleute regelmässig geschult. Es gibt die unterschiedlichsten Gefahren: Wasser,
    das hinter einer Türe steht, die in Richtung Feuerwehrmann geöffnet wird. Solches, das unter elektrischer Spannung
    steht. Oder Absturzstellen, die im stehenden Wasser nicht sichtbar sind. «Hie und da muss man warten, bis man etwas
    tun kann. Heute sind Feuerwehrleute sehr sensibilisiert in Fragen rund um die eigene Sicherheit. Und sie haben gutes
    Hilfsmaterial wie Absturzsicherungen, Spannungsmesser für das Wasser, wasserdichte Stiefel, verschiedene Arten von
    funktionalen Überkleidern, allenfalls Kanalhosen für tieferes Wasser, gute Helme inklusive Visier, Handschuhe und
    vieles mehr. Diese Ausrüstungen sind sehr universell einsetzbar und eignen sich auch für Einsätze in und rund um
    Naturgefahren», sagt Müller.</p>

<p>Für ihn unterscheiden sich Hochwassereinsätze nicht wesentlich von einem grösseren Rohrbruch, aber eigentlich auch
    nicht von anderen Naturgefahren oder einem Hausbrand. «Die Prioritäten sind immer die gleichen. Zuerst kommt die
    eigene Sicherheit. Dann folgt die Rettung von Menschen, Tieren, Umwelt und Wertsachen. » Gemäss Müller fliessen
    solche lokal drohenden Naturgefahren auch in die aktuellen Übungsprogramme der jeweiligen Feuerwehren ein. Bis auf
    Erdbeben. «Es ist mir nicht bekannt, dass Erdbeben ein Thema in den Ausbildungen ist. Es gilt aber auch hier der
    Grundsatz der Verhältnismässigkeit. Ein nach einem Beben einsturzgefährdetes Gebäude dürfen wir nicht betreten. So
    lange keine Menschen in Gefahr sind, können und müssen wir warten.»</p>

<h2>Die Rettungskette</h2>

<p>Was alle drei Experten betonen: Jeder sollte seine Kernkompetenzen wahrnehmen und die gesamte Rettungskette damit
    verstärken. Von der Polizei über die Ambulanz, Rega, Feuerwehr bis hin zum Zivilschutz und dem Militär muss sie
    bestmöglich funktionieren. Denn wie in jeder Kette ist auch diese nur so stark wie ihr schwächstes Glied. «Hat ein
    Feuerwehrmann im Einsatz ein Problem, behindert das die Rettung und sowohl die Prioritäten als auch die Ressourcen
    verändern sich», fasst Roman Müller das zusammen.</p>

<p>Er appelliert aber auch an eine exakte Aufgabenverteilung. «Für mich stellt sich die Frage, wo wir die Feuerwehr
    überall einsetzen wollen. Sie ist ein Ersteinsatz- Element für Notfälle. In Notlagen hingegen kommen Private,
    Militär, Zivilschutz oder Ähnliches zum Zug. Doch heute pumpt die Feuerwehr sehr viele Keller aus und hat
    verhältnismässig wenige Brände zu löschen. Die Belastung ist für die Mannschaften in den letzten Jahren massiv
    gestiegen. Und auch jene für die Arbeitgeber, welche dieses Personal zur Verfügung stellen. Die Freiwilligenarbeit
    der Feuerwehr wird verheizt und das könnte noch zu einem grossen Problem werden. Auch darum muss die
    Eigenverantwortung von Hauseigentümern rund um Naturgefahren gefördert und gefordert werden. Besonders in der Stadt
    empfinde ich sie als sehr tief und ich verstehe nicht, wieso immer wieder die gleichen oder ähnliche Gebäude
    betroffen sind, man die Eigentümer aber nicht stärker in die Verantwortung nimmt.»</p>

<p>Übrigens: Wie wichtig eine funktionierende Rettungskette sein kann, zeigte ein zweiter Flugzeugabsturz im Kanton
    Obwalden, am 27. August 2013. Wieder waren das Wetter und die Sicht sehr schlecht. Beim Absturz krachte das Flugzeug
    in die Baumkronen eines Waldes und säbelte diese gleich ab. Die Rettungssanitäter achteten an der Unfallstelle auf
    austretendes Kerosin oder spitze und scharfe Gegenstände. Doch die eigentlich grösste Gefahr war eine natürliche,
    die erst durch den Absturz ausgelöst wurde: «Die Rettungsmannschaft arbeitete bereits im Flugzeug, als sie ein
    Polizist auf die geknickten Baumkronen hinwies, die jederzeit auf die Retter fallen könnten. Darauf achtete der
    Polizist im Rahmen seiner Lagebeurteilung viel genauer als die Sanitäter», erzählt Stefan Schneider.</p>
