---
layout: 'default'
title: 'Evakuationsübung - aber wie?'
globotitle: 'Notfallplanung, Evakuierungskonzept, Notfallmanagement, Notfallorganisation'
---

<h1>Notfallmanagement</h1>

<h2>Evakuationsübung - aber wie?</h2>

<p>In einem Betrieb gibt es die verschiedensten Konzepte und Ansätze für das Verhalten in einem Notfall. Doch
  funktionieren diese im Ereignisfall? Erst ein perfektes Zusammenwirken der einzelnen Ansätze schafft integrale
  Sicherheit.</p>

<p>Von Roman Müller<p>

<p>Ein Betrieb wird regelmässig nach allen möglichen und unmöglichen Standards auditiert und befragt. Dies beginnt schon
  in der Offertephase oder spätestens nach dem Abschluss von Grossaufträgen. Auf die Frage nach dem Notfallmanagement
  und vor allem nach dessen Funktionsweise im Ereignisfall breitet sich allerdings immer wieder ein ungutes Gefühl aus.
  Allzu oft verlassen sich die Betriebe im Ernstfall auf den so genannten gesunden Menschenverstand. Es würde deshalb
  schon alles seine geregelten Wege gehen. Ansonsten gäbe es ja noch die Feuerwehr, die für so etwas ausgebildet und
  zuständig sei.</p>

<p>Stimmt das so? Oder sind das gefährliche Ausreden? Wieso trauen sich Betriebe oft nicht an eine Evakautionsübung
  heran? Ist es tatsächlich die Angst vor dem Arbeitsunterbruch oder eher die fehlende Rückendeckung der
  Geschäftsleitung? Ich möchte in diesem Beitrag einige wichtige Grundsätze aufzeigen und erklären, weshalb in diesem
  Fall einfacher immer mehr ist.</p>

<p>Nehmen wir an, dass ein Sicherheitsbeauftragter (SiBe) eines Unternehmens eine Evakautionsübung durchführen möchte
  und nach intensiver Verhandlung mit der Geschäftsleitung die Bewilligung erhalten hat. Der SiBe garantiert den
  Vorgesetzten die Rückkehr der evakuierten Mitarbeitenden in 20 Minuten.</p>

<h2>Wo fangen wir nun an?</h2>

<p>Wichtig ist natürlich, dass der SiBe das Konzept der Evakuierung bereits entworfen und wichtige Fragen beantwortet
  hat. Dazu gehören beispielsweise:</p>

<ul>
  <li>Wie werden die Mitarbeitenden alarmiert?</li>
  <li>Wo befindet sich der Sammelplatz?</li>
  <li>Wie sieht die Sammelplatzorganisation aus?</li>
  <li>Welche Aufgaben haben die Evakuationshelfer?</li>
  <li>Welches Hilfsmaterial steht ihnen zur Verfügung?</li>
  <li>(Wie funktioniert die Kommunikation zur Firmeneinsatzleitung und zur Feuerwehr, Polizei und Sanität?</li>
  <li>Ist der Zutritt in alle Bereiche gewährt?</li>
  <li>Wird das Gebäude anschliessend gegen unbefugten Zutritt gesichert?</li>
  <li>Wie kann sichergestellt werden, dass das Gebäude wirklich leer ist und die Mitarbeitenden in Sicherheit sind?</li>
  <li>Sind alle Evakuationshelfer und Mitarbeitende entsprechend geschult?</li>
</ul>

<p>Wenn der SiBe für diese Fragen ein Konzept entworfen hat, kann er sich an die Planung der Evakautionsübung machen.
  Nun ist es wichtig zu wissen, ob es im Betrieb kritische Prozesse gibt, die nur schwer unterbrochen werden können.
  Oder ob sich solche Unterbrüche dann als sehr teuer erweisen. Eine entsprechende Koordination ist unumgänglich.</p>

<p>Ausserdem muss sich der SiBe mit der Alarmzentrale koordinieren und die Nummern von allfälligen Brandmeldeanlagen
  mitteilen. Polizei und Feuerwehr muss er ebenfalls entsprechend informieren. Aufmerksame Nachbarn können nämlich mit
  einer gut gemeinten Alarmierung den Ablauf durcheinander bringen. Es werden fälschlicherweise weitere Notfalldienste
  aufgeboten, die für die Übung gar nicht vorgesehen waren. Und das kostet Geld.</p>

<p>Diese Informationen müssen zwingend kurz vor der Evakuationsübung erfolgen. Die Erfahrung hat gezeigt, dass eine
  Anmeldung mehrere Tage oder Wochen im Voraus nicht immer durchgängig funktioniert.</p>

<h2>Zusatznutzen schaffen</h2>

<p>Hat der SiBe solche Fragen geklärt und diese Aufgaben ausgeführt, gilt es tiefer in die Details zu gehen. Nun kann er
  auch damit beginnen, die Evakuationsübung für weitere Tests und Proben zu nutzen. Er kann sich beispielsweise
  zusätzlich mit den Brandschutzeinrichtungen befassen. Wird die Evakuation über die Brandmeldeanlage ausgelöst, wäre
  dies ein idealer Zeitpunkt um die Funktion der Brandschutzeinrichtungen zu kontrollieren.</p>

<p>Natürlich können während einer solchen Übung auch kleinere Verletzungen vorkommen. Die Betriebssanität gehört deshalb
  - mit ihrem Material ausgerüstet - gut sichtbar auf den Sammelplatz. Dabei können Bestand und Vorhandensein von AED,
  Leuchtwesen oder dem Erste Hilfe Rucksack geprüft werden.</p>

<p>Zu berücksichtigen sind auch die Umwelteinflüsse wie Kälte, Regen, Sturm, Schneefall oder Hitze. Sie können eine
  Versammlung im Freien erschweren. Ein Ausweichplan für solche Situationen ist in einem Notfallmanagementkonzept
  deshalb ein wichtiger Bestandteil. Denn in einem Ernstfall kann das Gebäude allenfalls nicht bereits nach 20 Minuten
  wieder betreten werden.</p>

<p>In einem solchen Ernstfall werden früher oder später auch die Medien vor Ort erscheinen. Der Umgang mit Journalisten
  gehört darum unbedingt in ein Notfallmanagementkonzept. Grundsätzlich gilt für die Mitarbeitenden, keinerlei
  Informationen abzugeben.</p>

<p>Idealerweise kann diese Versammlung dazu benutzt werden, eine persönliche Information oder Stellungnahme der
  Geschäftsleitung an die Mitarbeitenden zu platzieren. Nutzt ein CEO diese Situation beispielsweise, um auf den hohen
  Stellenwert der Sicherheit in seinem Betrieb hinzuweisen, gibt dies für jeden engagierten SiBe viel Rückenwind. Denn
  ohne den Rückhalt und das Risikobewusstsein der Geschäftsleitung ist die Akzeptanz solcher Aktionen auch unter den
  Mitarbeitenden oft gering.</p>

<h2>Nach der Übung</h2>

<p>Ohne eine genaue Auswertung hat eine solche Evakuationsübung wenig Wert. Zur Analyse eignen sich Fotos,
  Videoaufnahmen, Journale und dergleichen. Die entsprechende daraus folgende Massnahmenplanung und Umsetzung zur
  Optimierung ist selbstverständlich.</p>

<p>Nun muss der SiBe auch die verschiedenen involvieren Mitarbeitenden beurteilen. Verfügen Notfallteam, Einsatzleiter
  oder Notfallstab nicht über die nötigen Fähigkeiten, so können strategisch wichtige Entscheidungen natürlich nur
  teilweise durch ein gutes Konzept aufgefangen werden. Deshalb braucht es eine bereichsübergreifende Betrachtungsweise:
  Notfall- und Führungsstäbe müssen unbedingt zusammenarbeiten.</p>

<h2>Fazit</h2>

<p>Grundsätzlich können wir solche Übungen immer weiter steigern und die verschiedensten Zusatzfunktionen einbinden -
  von einer normalen Evakuation über erschwerte Umstände wie Stromausfall oder Wetterbedingungen bis hin zum
  Krisenmanagement und zu Aufgaben des Business Continuity Managements, die das weitere Existieren eines Betriebs
  sicherstellen sollen. Zuerst sollten aber die einfachen Grundaufgaben gelöst werden, um das Fundament sicherzustellen.
  Und dies auf einer möglichst einfachen Ebene. Denn ein wenig einfacher und robuster als wir uns dies auf der grünen
  Wiese so vorstellen ist fast immer zielführender. Schlussendlich geht es in erster Linie um die Sicherheit von unserem
  wertvollsten Kapital: Den Mitarbeitenden. Sie sollen auch nach einem Ereignisfall weiterhin im Betrieb beschäftigt
  werden können.</p>
