---
layout: 'default'
title: 'Arbeitssicherheitssystem und der optimale Nutzen'
---

<h1>Für das Leben lernen wir</h1>

<div class="row panel">
  <div class="large-3 columns">
    <%= image_tag('checklist.png') %>
  </div>
  <div class="large-9 columns">
    <ul>
      <li>Wann wurde im Betrieb das letzte Mal eine Arbeitssicherheits- oder Brandschutzschulung durchgeführt?
      </li>
      <li>Wer kann für die Sicherheit der Mitarbeitenden die Hand ins Feuer legen und beruhigt sagen, er habe alles
        unternommen, um diese nach dem neusten Stand auszubilden?
      </li>
      <li>Haben die Mitarbeiter bei der Umsetzung von Sicherheitsvorschriften wirklich alles im Griff?</li>
    </ul>
  </div>
</div>

<p>Die neu revidierte Richtlinie für den Beizug der Arbeitssicherheitsspezialisten steht seit Februar 2007 zur
  Verfügung.</p>

<p>Die Sicherheit von Mitarbeitenden ist per Gesetz festgelegt. Grundlage dafür bildet die Verordnung über die Verhütung
  von Unfällen und Berufskrankheiten VUV Artikel 7 bis 8. Richtig ausgebildete Mitarbeitende zahlen sich in jedem Falle
  aus. Spätestens nach einem Unfall wollen die Behörden und die Versicherung wissen, ob die Mitarbeitenden richtig und
  ausreichend ausgebildet waren. Könnten Sie in dieser Situation gelassen bleiben?</p>

<p>Arbeitssicherheits- und Brandschutzschulungen sind die Grundbausteine für ein gut funktionierendes
  Arbeitssicherheitssystem und reduzieren die teuren Ausfallstunden, die bis zu 1000 Schweizer Franken pro Ausfalltag
  kosten können.</p>

<p>In den ersten drei Tagen (Karenzfrist) muss der Arbeitsgeber den Lohnausfall selber decken, anschliessend übernimmt
  in den meisten Fällen die Taggeldversi-cherung den Lohn des Mitarbeitenden zu 80 Prozent sowie einen grossen Teil der
  Heilungskosten. Darin nicht enthalten sind aber die Sachschäden durch den Unfall, Ersatzmitarbeiter die eingeführt
  werden müssen, Terminverspätungen, Zeitverlust, Auftragsverlust, Störungen im Betriebsablauf, Image-Schaden und viele
  weitere. Folglich sind die täglichen Kosten meist noch höher, werden aber nicht dem Unfallereignis zugeschrieben oder
  ausgewiesen. In den meisten Betrieben herrscht keine Kostentransparenz und es werden somit falsche Annahmen
  getroffen.</p>

<h2>In die Mitarbeitenden zu investieren, lohnt sich auf jeden Fall.</h2>

<p>Schulungen im Bereich Arbeitssicherheit sind nur dann zweckmässig, wenn sie seriös und nach neusten Richtlinien
  durchgeführt werden. Dafür ist eine externe Beratung heute praktisch unumgänglich. Die besten Sicherheitseinrichtungen
  nützen ohne das entsprechende Know-how wenig bis gar nichts. Sicherheitsinstallationen, die nicht richtig geschult
  werden, sind nahezu wertlos, wenn der Hintergrund der Massnahme nicht vermittelt werden kann. Entscheidend ist, dass
  eine Schulung auf die individuellen Bedürfnisse des Betriebes zugeschnitten ist. Nach einer Beratung kann ein
  passendes Lösungspaket, bestehend aus Referaten oder praktischen Instruktionen vor Ort, zusammengestellt werden.</p>

<p>Die stetige Auffrischung des vermittelten Wissens ist nicht zu vernachlässigen. Sicherheits-Profis festigen das
  bestehende Wissen der Mitarbeitenden, füllen Lücken und ergänzen das Know-how mit aktuellen Erkenntnissen aus dem
  Bereich der Arbeitssicherheit und Brandschutz. Nur so kann ermöglicht werden, dass eine Belegschaft stets up to date
  ist, was die Sicherheit angeht.</p>

<h2>Welche Aus- und Weiter bildungen bieten sich an?</h2>

<p>Sicherlich ist eine solide Grundausbildung, auf die aufgebaut werden kann, am Sinnvollsten. Zu beachten ist dabei,
  dass diese von der SUVA anerkannt ist. Eine Grundschulung für den SIBE (Sicherheitsbeauftragten) oder den KOPAS
  (Kontaktperson für Arbeitssicherheit) ist unerlässlich. Dies sollte als Einstig mindestens zwei Tage dauern, um einmal
  sensibilisiert zu werden und die wichtigsten Grundlagen einordnen zu können. Je nach Branche besteht auch die
  Möglichkeit, dies über eine so genannte Branchenlösung des Berufverbandes abzudecken. Wichtig ist, dass dies nur der
  Grundstein bildet und eine kontinuierliche Weiterbildung für einen SIBE, KOPAS Pflicht ist. Diese Weiterbildungen
  lassen sich dann individuell gestalten und auf die jeweiligen Spezialitäten zuschneiden. Die Mitarbeitenden sind aber
  auch nicht zu vernachlässigen, denn eine Ausbildung dieser ist eine flächendeckende Angelegenheit und somit sehr
  wirkungsvoll. Jeder Mitarbeitende muss Gefahren erkennen können und wissen wie damit umzugehen ist und wie diese am
  Besten behoben werden können. Eine Mischungaus praktischen Übungen und theoretischem Wissen hilft hier, denn Lernen
  ist bekanntlich aktives Handeln.</p>

<p>Demnach gilt also: In das Kapital einer Firma, sprich in die Mitarbeitenden zu investieren, lohnt sich auf jeden
  Fall.</p>

<p>Safety Plus 3/07, August 2007, MPS</p>

