---
layout: 'default'
title: 'Medienmitteilung: Zehn Jahre MPS 2002 - 2012'
---

<h1>Medienmitteilung</h1>

<h2>Zehn Jahre MPS 2002 - 2012</h2>

<p>
  Die MPS Müller Projects & Services GmbH feiert ihr zehnjähriges Jubiläum. Im Jahr 2002 gründete Roman Müller eine
  Einzelfirma und begann damit, seine Erfahrungen an Kunden und Schulungsteilnehmer weiterzugeben. Im Jahr 2005
  überführte er sein Unternehmen in eine GmbH. „Heute sind wir inklusive freien Mitarbeitenden ein Team von acht
  qualifizierten Fachkräften“, sagt Roman Müller. Als Dienstleister in den Bereichen Notfallmanagement,
  Arbeitssicherheit und Brandschutz sowie mit entsprechenden Schulungen zu diesen Themen bietet die MPS Müller Projects
  & Services GmbH ihren Kunden ein breites Angebot mit hohem Nutzen.
</p>
<p>
  „Ich wollte etwas verändern und sah dazu eine Chance“, erinnert sich Roman Müller an den Sommer im Jahr 2002. Durch
  viele Sicherheitsrundgänge, Analysen und Audits war und ist Roman Müller stets in den Gebieten Notfallmanagement,
  Arbeitssicherheit und Brandschutz unterwegs und kann die Themen so immer ganzheitlich betrachten. Diese Gesamtsicht
  macht nicht nur den Erfolg der letzten zehn Jahre aus – Roman Müller vermittelt sie auch den Teilnehmern seiner
  Schulungen. Falls nötig arbeitet die MPS Müller Projects & Services GmbH ausserdem mit kompetenten Partnern aus
  verschiedenen Fachgebieten zusammen. Damit kann das Unternehmen seinen Kunden immer optimale, massgeschneiderte und
  unabhängige Lösungen anbieten.
</p>
