---
layout: 'default'
title: 'Sauber Formel 1, Sicherheit kennt keine Grenzen'
---

<h1>Sauber Formel 1, Sicherheit kennt keine Grenzen</h1>

<p>Von Stefan Kühnis ist Chefredaktor von Safety-Plus.</p>

<p>Technische Perfektion, Innovation und Leidenschaft resultieren oft in Erfolg, sagte Christan Rüegger, «in dieser
  Hinsicht sind wir und das Sauber-Team uns sehr ähnlich.» Der CEO der Brütsch-Rüegger Holding begrüsste rund 120 Kunden
  und Partner zum Seminar Sicherheit kennt keine Grenzen im Sauber-Windkanal in Hinwil. Brütsch-Rüegger unterhält seit
  vielen Jahren eine erfolgreiche Partnerschaft mit dem Motorsportteam von Peter Sauber.</p>

<p>Brütsch-Rüegger Tools lud Kunden und Partner zu einem Seminar nach Hinwil. Die Veranstaltung fand im
  Windkanal-Gebäude des BMW Sauber F1 Teams statt. Die Teilnehmer durften sich im Reifenwechseln versuchen. Verschiedene
  Arbeitssicherheits-Produkte waren vor Ort ausgestellt.</p>

<h2>Fussschutz</h2>

<p>Heute unterscheidet sich ein Sicherheitsschuh fast nur noch durch seine Schutzeigenschaften von einem Freizeitschuh.
  Atmungsaktive Materialien, alternative Schutzkappen aus Kunststoff und moderne Designs gestalten einen Arbeitstag
  komfortabler. So wird ein Schuh auch konsequent getragen. Renato Censori (Leiter Bereich Arbeitsschutz bei
  Brütsch-Rüegger) und Dario Fava (Key Account Manager bei Brütsch-Rüegger) führten die Teilnehmer tiefer durch das
  Thema und wiesen sie auf die vielen unterschiedlichen Modelle auf dem Markt hin.</p>

<h2>Gehörschutz</h2>

<p>Urs Germann (Geschäftsführer der Audio Protect AG) ist im Bereich Gehörschutz ein Vollprofi. Und er nahm seine
  Werkzeuge gleich mit. An einem freiwilligen Teilnehmer demonstrierte er, wie einfach ein individuell angepasster
  Gehörschutz hergestellt werden kann und welche Vorteile er bietet. Die Zuseher und Zuhörer waren übrigens über ein
  Audiosystem zum Mikrofon von Germann verbunden, der so seine Stimme bestens schonen konnte.</p>

<h2>Motivation zur Arbeitssicherheit</h2>

<p>Schlussendlich kann jede Schutzmassnahme ins Leere greifen, wenn die Betroffenen partout nicht mitmachen wollen. Wie
  Mitarbeitende motiviert werden können, die nötigen Massnahmen zu befolgen, zeigte Roman Müller (Geschäftsführer MPS
  Müller Projects & Services GmbH) anhand eines Filmbeispiels. Der Suva-Kurzfilm über Augenverletzungen sensibilisierte
  Müller damals für das Thema Arbeitssicherheit und zeigt die richtigen Kommunikationswege auf.</p>

<h2>Der Windkanal</h2>

<p>Mit Geschwindigkeiten von bis zu 300 Stundenkilometern fliesst die Luft im Windkanal. Er wurde im Jahr 2004 erbaut
  und ist immer noch einer der grössten und modernsten Windkanäle in der Formel 1 und Massstab für andere Teams. Die
  Teilnehmer hatten die Möglichkeit, von erfahrenen Sauber-Mitarbeitern viele spannende Details auch rund um die Autos
  und Materialien zu erfahren. An einem Original-F1-Fahrzeug erprobten sich einige an der Herausforderung Boxenstopp.
  Sicherheit in der Formel 1 Selbstverständlich war auch die Sicherheit im Motorsport ein grosses Thema. Fahrzeuge, die
  in 2,7 Sekunden von 0 auf 100 km/h und in 5,2 Sekunden von 0 auf 200 km/h beschleunigen und in 2,0 Sekunden wieder von
  200 auf 0 Stundenkilometer bremsen können, bieten grosses Gefahrenpotenzial. Trotzdem gab es in der Formel 1 seit
  Ayrton Senna keine Todesopfer mehr. Ohne Zweifel liegt dies an den massiven Sicherheitsbemühungen. Ein Experte zeigte
  auf, wie die Materialien konstruiert werden, um keine Todesfälle mehr zuzulassen. Die imposanten Details illustrierte
  er unter anderem am Unfall von Robert Kubica in Montreal, der mit 280 km/h einen anderen Fahrer touchierte, von der
  Fahrbahn abkam und mit 208 Stundenkilometern in die Mauer prallte. Dabei wirkte eine Kraft von rund 40 G auf ihn, er
  in 4,5 Sekunden genau 212 Meter weit verunfallte – und er fast unverletzt aus dem fast unbeschädigten Innenteil
  geborgen wurde.</p>
