---
layout: 'default'
title: 'Schulungen in Arbeitssicherheit und Brandschutz zahlen sich aus!'
---

<h1>Schulungen in Arbeitssicherheit und Brandschutz zahlen sich aus!</h1>

<div class="row panel">
  <div class="large-3 columns">
    <%= image_tag('checklist.png') %>
  </div>
  <div class="large-9 columns">
    <ul>
      <li>Wann haben Sie in Ihrem Betrieb das letzte Mal eine Arbeitssicherheits- oder Brandschutzschulung
        durchgeführt?
      </li>
      <li>Würden Sie für die Sicherheit Ihrer Mitarbeitenden „die Hand ins Feuer legen“ und beruhigt sagen, ich habe
        alles unternommen, um diese nach dem neusten Stand auszubilden?
      </li>
      <li>Haben Ihre Mitarbeiter bei der Umsetzung von Sicherheitsvorschriften wirklich alles im Griff?</li>
    </ul>
  </div>
</div>

<p>Würden Sie für die Sicherheit Ihrer Mitarbeitenden „die Hand ins Feuer legen“ und beruhigt sagen, ich habe alles
  unternommen, um diese nach dem neusten Stand auszubilden?</p>

<p>Die Sicherheit von Mitarbeitenden ist per Gesetz festgelegt. Grundlage dafür bildet die Verordnung über die
  Unfallverhütung Artikel 8. Darin ist beispielsweise festgeschrieben, für welche Unternehmen Weiterbildungen
  vorgeschrieben sind. Richtig ausgebildete Mitarbeitende zahlen sich für Sie in jedem Falle aus. Spätestens nach einem
  Unfall wollen die Behörden und die Versicherung von Ihnen wissen, ob Ihre Mitarbeitenden richtig und ausreichend
  ausgebildet waren. Könnten Sie in dieser Situation gelassen bleiben?</p>

<p>Arbeitssicherheits- und Brandschutzschulungen sind die Grundbausteine für ein gut funktionierendes
  Arbeitssicherheitssystem und reduzieren die teuren Ausfallstunden, die bis zu 1'000.- CHF pro Ausfalltag kosten
  können.</p>

<p>Schulungen im Bereich Arbeitssicherheit sind nur dann zweckmässig, wenn sie seriös und nach neusten Richtlinien
  durchgeführt werden. Dafür ist externe Beratung heute praktisch unumgänglich. Die besten Sicherheitseinrichtungen
  nützen ohne das entsprechende Know-how wenig bis gar nichts. Sicherheitsinstallationen, die nicht richtig geschult
  werden, sind nahezu wertlos, wenn der Hintergrund der Massnahme nicht vermittelt werden kann. Entscheiden ist, dass
  eine Schulung auf die individuellen Bedürfnisse des Betriebes zugeschnitten ist. Nach einer Beratung kann ein
  passendes Lösungspakt, bestehend aus Referaten oder praktischen Instruktionen vor Ort, zusammengestellt werden.</p>

<p>Die stetige Auffrischung des vermittelten Wissens ist nicht zu vernachlässigen. Sicherheits-Profis festigen das
  bestehende Wissen der Mitarbeitenden, füllen Lücken und ergänzen das Know-how mit aktuellen Erkenntnissen aus dem
  Bereich der Arbeitssicherheit- und Brandschutz. Nur so kann garantiert werden, dass eine Belegschaft stets «up to
  date» ist, was die Sicherheit angeht.</p>

<p>Die Firma MPS Müller Projects & Services GmbH ist spezialisiert auf Ausbildungen im Bereich Arbeitssicherheit und
  Brandschutz, sei dies in der Theorie oder auch in der praktischen Ausbildung. Wählen Sie aus einem vielfältigen
  Angebot die Lösung für Ihre Bedürfnisse, beispielsweise: Brandschutzreferate, Brandschutzkurse, Sicherheitsberatungen,
  Arbeitssicherheitsschulungen, Fachreferate, Fachinstruktionen vor Ort, Erste Hilfe Kurse etc.</p>

<p>Gerne stellen wir das für Ihr Unternehmen passende Programm zusammen. Ausbildungsnachweise und Zertifikate nach
  erfolgreichem Abschluss von Schulungen sind für uns eine Selbstverständlichkeit. Unsere Kurse werden laufend kritisch
  beurteilt und kontinuierlich verbessert, damit diese noch optimaler für Sie gestaltet werden können.</p>

<p>KMU Manger, Mai 2007, MPS</p>
